{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span4 offset1">
        <form action="{% url 'core-company-addnote' contact.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Bermerkung eingeben</legend>
                {{ form.subject.label_tag }}
                {{ form.subject }}
                {{ form.text.label_tag }}
                {{ form.text }}<br>
                <button type="submit" class="btn">Speichern</button>
            </fieldset>
        </form>
    </div>
    <div class="span4 offset1">
        <h2>{% trans "Old Notes" %}</h2>
        {% for n in notes %}
        <h3>{{ n.subject }} <small>{{ n.date }}</small></h3>
        <p>{{ n.text }}</p>
        <p class="text-right">von {{ n.user.userprofile }}</p>
        <hr />
        {% empty %}
        <p><strong>{% trans "No old notes." %}</strong></p>
        {% endfor %}
    </div>
</div>
{% endblock %}
