{% load url from future %}
{% load i18n %}

{% if c.rate and c.rating == "C" %}
<div class="alert alert-warning">
    <h4>{% trans "Attention!" %}</h4>
    Supplier is blocked.
</div>
{% endif %}

<address>
    <strong>{{ c.name }}</strong><br>
    {{ c.street|default:"-" }}<br>
    {{ c.zip_code }} {{ c.city|default:"-" }}<br>
    <abbr title="{% trans "Phone" %}">{% trans "P" %}:</abbr> {{ c.phone|default:"-" }}<br>
    <abbr title="{% trans "Fax" %}">{% trans "F" %}:</abbr> {{ c.fax|default:"-" }}
</address>

<ul>
  <li>{% trans "Customer Number" %}: {{ c.customer_number|default:"-" }}</li>
  {% if c.web %}
  <li>{% trans "Homepage" %}: <a href="{{ c.web }}">{{ c.web }}</a></li>
  {% endif %}
  {% if c.rate %}
  <li>{% trans "Rating" %}: <a href="#" class="tt" title="{{ c.get_rating_display }}">
    {{ c.rating }}</a> ({% trans "Ratings" %}: {{ c.ratings.count }})</li>
  {% if c.rating_note %}
  <li>{% trans "Note" %}: {{ c.rating_note }}</li>
  {% endif %}
  {% endif %}
  <li>{% trans "Active Students" %} ({{ c.active_students }}):
  {% if c.active_students %}
      <ul>
      {% for s in c.get_active_students %}
        <li><a href="{% url "core-group-details"  s.group.id %}">{{ s.group }}</a>:
          <a href="{% url "core-students" s.first %}">{{ s.lastname }}</a>,
          {{ s.firstname }}
          ({{ s.birthdate }}, {{ s.age }} {% trans "Years" %})</li>
      {% endfor %}
      </ul>
  </li>
  {% endif %}
  {% for con in c.contacts.all %}
  <li><strong>{{ forloop.counter }}) {{ con }}</strong>
    <ul>
      <li>{% trans "Phone" %}: {{ con.phone|default:"-" }}</li>
      {% if con.email %}
      <li>{% trans "Email" %}:
        <a href="mailto:{{ con.email }}">{{ con.email }}</a></li>
      {% endif %}
      <li>{% trans "Notes" %} <a class="btn btn-mini btn-success" href="{% url "core-company-addnote" con.id %}">{% trans "Add Note" %}</a>:
        <ul>
        {% for n in con.notes.all %}
          <li><a href="{% url 'core-company-addnote' con.id %}" class="pop" data-toggle="popover" data-placement="top" data-content="{{ n.text }}" title="{{ n.subject }} - {{ n.user.username }}">
              {{ n.subject }}</a> am {{ n.date }}</li>
        {% endfor %}
        </ul>
      </li>
    </ul>
  </li>
  {% empty %}
  <li>{% trans "No contacts defined." %}</li>
  {% endfor %}
  {% if c.cooperations.count and single_view %}
  <li><strong>{% trans "Cooperation Contracts" %} ({{ c.cooperations.count }})</strong>
    <ul>
      {% for coop in c.cooperations.all %}
      <li><a href="#" class="pop" data-toggle="popover" data-placement="top" data-content="{{ coop.note }}" title="{% trans "Cooperation Contracts" %}">
          {{ coop.date|date:"DATE_FORMAT" }} {{ coop.job }}</a>
        <ul>
          {% for student in coop.students.all %}
          <li>{{ student }}{% if student.finished %} ({% trans "finished" %}){% endif %}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
</ul>
