{% load i18n %}

<ul>
  {% if not single_view %}
  <li><a href="/core/companies/{{ c.id }}/">
    {% trans "Open on separate page" %}</a></li>
  {% endif %}
  <li>{% trans "Street" %}: {{ c.street|default:"-" }}</li>
  <li>{% trans "City" %}: {{ c.zip_code }} {{ c.city|default:"-" }}</li>
  <li>{% trans "Country" %}: {{ c.country|default:"-" }}</li>
  <li>{% trans "Phone" %}: {{ c.phone|default:"-" }}</li>
  <li>{% trans "Fax" %}: {{ c.fax|default:"-" }}</li>
  <li>{% trans "Customer Number" %}: {{ c.customer_number|default:"-" }}</li>
  {% if c.web %}
  <li>{% trans "Homepage" %}: <a href="{{ c.web }}">{{ c.web }}</a></li>
  {% endif %}
  {% if c.rate %}
  <li>{% trans "Rating" %}: <a href="" title="{{ c.get_rating_display }}">
    {{ c.rating }}</a> ({% trans "Ratings" %}: {{ c.ratings.count }})</li>
  {% if c.rating_note %}
  <li>{% trans "Note" %}: {{ c.rating_note }}</li>
  {% endif %}
  {% endif %}
  <li>{% trans "Active Students" %}{% if single_view %} ({{ c.active_students }}){% endif %}:
  {% if single_view and c.active_students %}
  <ul>
  {% for s in students %}
    <li><a href="/core/groups/{{ s.group.id }}/">{{ s.group }}</a>:
      <a href="/core/students/{{ s.first }}/">{{ s.lastname }}</a>,
      {{ s.firstname }}
      ({{ s.birthdate }}, {{ s.age }} {% trans "Years" %})</li>
  {% endfor %}
  </ul>
  {% else %}
    {% if c.has_students %}{{ c.active_students }}{% else %}
    {% trans "No" %}{% endif %}
  {% endif %}
  </li>
  {% for con in c.contacts.all %}
  <li><strong>{{ forloop.counter }}) {{ con }}</strong>
    <ul>
      <li>{% trans "Phone" %}: {{ con.phone|default:"-" }}</li>
      {% if con.email %}
      <li>{% trans "Email" %}:
        <a href="mailto:{{ con.email }}">{{ con.email }}</a></li>
      {% endif %}
      <li>{% trans "Notes" %} (<a href="/core/companies/addnote/{{ con.id }}/">{% trans "Add Note" %}</a>):
        <ul>
        {% for n in con.notes.all %}
          <li><a href="" title="{{ n.user.get_profile }}: {{ n.text }}">{{ n.date }}</a></li>
        {% endfor %}
        </ul>
      </li>
    </ul>
  </li>
  {% empty %}
  <li>{% trans "No contacts defined." %}</li>
  {% endfor %}
  {% if c.cooperations.count %}
  <li><strong>{% trans "Cooperation Contracts" %} ({{ c.cooperations.count }})</strong>
    <ul>
      {% for coop in c.cooperations.all %}
      <li><a href="" title="{{ coop.note }}">{{ coop.date|date:"DATE_FORMAT" }} {{ coop.job }}</a>
        <ul>
          {% for student in coop.students.all %}
          <li>{{ student }}{% if student.finished %} ({% trans "finished" %}){% endif %}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li>{% trans "No Cooperations" %}</li>
  {% endif %}
</ul>

