{% extends "index.html" %}
{% load i18n %}

{% block content %}
<h2 class="headline">
{% if only_with_students %}
  {% trans "Companies with students" %}
{% else %}
  {% trans "Companies" %}
{% endif %} ({{ companies.paginator.count }})
</h2>

<div style="width:60%;text-align:center;margin:5px auto;">
{% if not only_with_students %}
<a href="{% url core-companies-with-students %}">
  {% trans "List only companies with students" %}</a>
{% else %}
<a href="{% url core-companies-all %}">
  {% trans "Show all companies" %}</a>
{% endif %}
{% if companies.paginator.num_pages > 1 %}
<form action="" method="get">
<p>{% trans "Go to page" %}: <select name="page" size="1">
    {% for num in companies.paginator.page_range %}
    <option value="{{ num }}"{% if page == num %} selected="selected"{% endif %}>{{ num }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="{% trans "go" %}" />
</p>
</form>
{% endif %}
</div>

{% if companies %}
<div id="accordion" style="width:60%;margin:0px auto;">
  {% for c in companies %}
  <h3><a href="#">{{ forloop.counter }}) {{ c }}</a></h3>
  <div class="details">{% include "companies/details.html" %}</div>
  {% endfor %}
</div>
<div style="text-align:center;"><p>
    {% if companies.has_previous %}
    <a href="?page={{ companies.previous_page_number }}">{% trans "Previous page" %}</a>
    {% endif %}
    {% trans "Page" %} {{ companies.number }} {% trans "of" %} {{ companies.paginator.num_pages }}.
    {% if companies.has_next %}
    <a href="?page={{ companies.next_page_number }}">{% trans "Next page" %}</a>
    {% endif %}
</p></div>
{% else %}
<h3>{% trans "No companies found." %}</h3>
{% endif %}

<script type="text/javascript">
$(document).ready(function(){
  $("#accordion").accordion({
    animated: 'bounceslide',
    collapsible: true,
    heightStyle: 'content',
    active: false
  });
});
</script>

{% endblock %}
