{% extends "index.html" %}
{% load url from future %}
{% load i18n %}
{% load ozone_tags %}

{% block content %}
<div class="row-fluid">
    <div class="offset2 span6 centered">
    {% if not only_with_students %}
        <a class="btn btn-mini btn-primary" href="{% url "core-companies-with-students" %}">
            {% trans "List only companies with students" %}
        </a>
    {% else %}
        <a class="btn btn-mini btn-primary" href="{% url "core-companies-all" %}">
            {% trans "Show all companies" %}
        </a>
    {% endif %}

    {% if companies.paginator.num_pages > 1 %}
        <div class="btn-group">
            <a class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "Go to page" %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for num in companies.paginator.page_range %}
                <li{% if page == num %} class="disabled"{% endif %}>
                    <a href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
</div>

<div class="row-fluid">
    <div class="offset2 span6">
        {% if companies %}
        <div id="accordion1" class="accordion">
            {% for i, c in companies|enumerate:start %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ i }}">
                        {{ i }}. {{ c.short_name }}
                    </a>
                </div>
                <div id="collapse{{ i }}" class="accordion-body collapse{% if forloop.first %} in{% endif %}">
                    <div class="accordion-inner">
                        {% if not single_view %}
                        <a class="btn btn-mini btn-primary" href="{% url "core-company-detail" c.id %}">
                        {% trans "Open on separate page" %}</a>
                        {% endif %}
                        {% include "companies/details.html" %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="well centered">
            <h3>{% trans "No companies found." %}</h3>
        </div>
        {% endif %}
    </div>
</div>

{% if companies.has_other_pages %}
<div class="row-fluid">
    <div class="span6 offset2">
        <ul class="pager">
            <li class="previous{% if not companies.has_previous %} disabled{% endif %}">
                <a href="?page={{ companies.previous_page_number }}">&larr; {% trans "Back" %}</a>
            </li>
            <li class="next{% if not companies.has_next %} disabled{% endif %}">
                <a href="?page={{ companies.next_page_number }}">{% trans "Next" %} &rarr;</a>
            </li>
        </ul>
    </div>
</div>
{% endif %}
<div class="row-fluid">
    <div class="span6 offset2 centered">
        <span class="badge badge-info">
            {% trans "Page" %} {{ companies.number }} {% trans "of" %} {{ companies.paginator.num_pages }}
        </span>
    </div>
</div>

{% endblock %}
