{% extends "index.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1">
        <div class="well">
            <h3>{% trans "Company" %}: {{ c.short_name }}
                {% if perms.core.change_company %}
                <a class="btn btn-warning" href="{% url "admin:core_company_change" c.id %}"><i class="icon-edit"></i> {% trans "Edit" %}</a>
                {% endif %}
            </h3>
            {% include "companies/details.html" %}
        </div>
    </div>
</div>
{% endblock %}
