{% extends "index.html" %}
{% load i18n %}

{% block content %}
<h2 class="headline">{% trans "Add new Journal for Group" %}</h2>

{% include "beta.html" %}

<p>{% blocktrans %}For the following groups a journal already exist. You can
    not create a second one. If you want access to a specific journal,
    contact one of the listed instructors.{% endblocktrans %}</p>
<ul>
    {% for j in journals %}
    <li>{{ j }} ({{ j.userlist|join:", " }})</li>
    {% endfor %}
</ul>
<h3>{% trans "Enter data for new journal" %}</h3>
<form action="{% url core-add-journal %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" value="{% trans "Save" %}" /></p>
</form>

{% endblock %}
