{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1">
        {% blocktrans %}
        For the following groups a journal already exist.
        You can not create a second one. If you want/need access to a specific
        journal, contact one of the listed instructors.
        {% endblocktrans %}
        <ul>
            {% for j in journals %}
            <li>{{ j }} ({{ j.userlist|join:", " }})</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span6 offset2">
        <form action="{% url "core-add-journal" %}" method="post">
            {% csrf_token %}
            <legend>{% trans "Enter data for new journal" %}</legend>
            {% for f in form %}
            <label for="{{ f.auto_id }}">{{ f.label }}</label>
            {{ f }}{% if f.help_text %}<span class="help-block">{{ f.help_text }}</span>{% endif %}
            {% endfor %}
            <input class="btn" type="submit" value="{% trans "Save" %}">
        </form>
    </div>
</div>

{% endblock %}
