{% extends "index.html" %}
{% load url from future %}
{% load i18n %}
{% load ozone_tags %}

{% block content %}
<div class="row-fluid">
    <div class="span4 offset1">
        <form action="{% url "core-add-entry" journal.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="journal_id" id="journal_id" value="{{ journal.id }}" />
            <fieldset>
                <legend>{% trans "New entry" %}</legend>
                {{ form.student.label_tag }}
                {{ form.student }}
                {{ form.event.label_tag }}
                {{ form.event }}
                {{ form.text.label_tag }}
                {{ form.text }}
            </fieldset>
            <fieldset>
                <label>{% trans "Files" %}:</label>
                <input type="file" name="media-0"><br>
                <input type="file" name="media-1"><br>
                <input type="file" name="media-2"><br>
                <a href="#help-dialog-journal-add" role="button" class="btn btn-info" data-toggle="modal">{% trans "Help" %}</a>
                <button class="btn" type="submit">{% trans "Save" %}</button>
            </fieldset>
        </form>
    </div>

    <div class="span4" id="right">
        <h3>{% trans "Entries for" %} <span id="student"></span></h3>
        <ul id="entry_list">
        </ul>
    </div>
</div>

{% show_help "journal-add" %}

{% endblock %}

{% block additional_js %}
<script type="text/javascript">
$(function() {
    $('#right > h3').hide();
    $('#id_student').change(function() {
        var sid = $('#id_student').val();
        var jid = $('#journal_id').val();
        post_data = {'student_id': sid, 'journal_id': jid};
        $.post('{% url "core-api-student-entries" %}',
            {'_JSON_': JSON.stringify(post_data)},
            function(ret_data) {
                $('#entry_list > li').remove();
                if (ret_data['has_data'] == true) {
                    $('#student').text(ret_data['last']+', '+ret_data['first']);
                    $('#right > h3').show();
                    $.each(ret_data['entries'], function(i, d) {
                        var s = '<li>['+d['created']+'] '+d['txt']+'</li>';
                        $('#entry_list').append(s);
                    });
                } else {
                    $('#right > h3').hide();
                }
            });
    });
});
</script>
{% endblock %}
