{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1">
        <p>{% if entry.event %}<strong>{{ entry.event }}:</strong> {% endif %}{{ entry.text }}</p>
        <p><strong>{% trans "By" %}:</strong> {{ entry.created_by.userprofile }}</p>
        {% for m in entry.media.all %}
        <h3><a href="{{ m.media.url }}" title="{% trans "Click to download" %}" class="tt">
        {{ m.media.name }}</a> ({{ m.media.size }} Bytes)</h3>
        {{ m.get_html_tag }}
        {% endfor %}
    </div>
</div>

{% endblock %}
