{% extends "index.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
<form action="{% url "core-user-add" %}" method="post">
{% csrf_token %}
    <div class="row-fluid">
        <div class="span3">
            <fieldset>
                <legend>{% trans "Personal Data" %}</legend>
                {{ form.name_prefix.label_tag }}
                {{ form.name_prefix }}
                {{ form.lastname.label_tag }}
                {{ form.lastname }} {{ form.lastname.errors }}
                {{ form.firstname.label_tag }}
                {{ form.firstname }}
                {{ form.birthdate.label_tag }}
                {{ form.birthdate }}
            </fieldset>
        </div>
        <div class="span3">
            <fieldset>
                <legend>{% trans "Address" %}</legend>
                {{ form.street.label_tag }}
                {{ form.street }}
                {{ form.zip_code.label_tag }}
                {{ form.zip_code }}
                {{ form.city.label_tag }}
                {{ form.city }}
                {{ form.country.label_tag }}
                {{ form.country }}
            </fieldset>
        </div>
        <div class="span3">
            <fieldset>
                <legend>{% trans "Contact" %}</legend>
                {{ form.email.label_tag }}
                {{ form.email }} {{ form.email.errors }}
                {{ form.phone.label_tag }}
                {{ form.phone }}
                {{ form.mobile.label_tag }}
                {{ form.mobile }}
            </fieldset>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <fieldset>
                <legend>{% trans "Misc" %}</legend>
                {{ form.subjects.label_tag }}
                {{ form.subjects }}
                {{ form.can_login.label_tag }}
                {{ form.can_login }}
            </fieldset>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 centered">
            <input class="btn btn-primary" type="submit" value="{% trans "Save" %}" />
        </div>
    </div>
</form>

{% endblock %}

{% block additional_js %}
<script>
$(function() {
  $('#id_birthdate').datepicker({
    'format': 'dd.mm.yyyy',
    'weekStart': 1,
    'viewMode': 'years'
  });
});
</script>
{% endblock %}
