{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<div class="row-fluid">
    <div class="span8">
        <div class="btn-group">
            <a class="btn disabled" href="#">{% trans "Filter" %}:</a>
            {% if filter == "all" %}
            <a class="btn btn-info" href="{% url core-colleagues-filter "internal" %}">
                {% trans "Internal" %}
            </a>
            <a class="btn btn-info" href="{% url core-colleagues-filter "external" %}">
                {% trans "External" %}
            </a>
            {% elif filter == "internal" %}
            <a class="btn btn-info" href="{% url core-colleagues-filter "all" %}">
                {% trans "All" %}
            </a>
            <a class="btn btn-info" href="{% url core-colleagues-filter "external" %}">
                {% trans "External" %}
            </a>
            {% else %}
            <a class="btn btn-info" href="{% url core-colleagues-filter "all" %}">
                {% trans "All" %}
            </a>
            <a class="btn btn-info" href="{% url core-colleagues-filter "internal" %}">
                {% trans "Internal" %}
            </a>
            {% endif %}
        </div>
    </div>
</div>

<br>

<div class="row-fluid">
<table class="dataTable table table-striped table-bordered">
    <thead>
        <tr>
            <th>{% trans "Lastname" %}</th>
            <th>{% trans "Firstname" %}</th>
            <th>{% trans "Subjects" %}</th>
            <th>{% trans "Phone" %}</th>
            <th>{% trans "Mobile" %}</th>
            <th>{% trans "Email" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for c in coll %}
        <tr>
            <td>{{ c.user.last_name }}</td>
            <td>{{ c.user.first_name }}</td>
            <td>{{ c.subjects }}</td>
            <td>{{ c.phone }}</td>
            <td>{{ c.mobile }}</td>
            <td><a href="mailto:{{ c.user.email }}">{{ c.user.email }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
