{% extends "index.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span8">
        <a class="btn btn-info" href="{% url "core-colleagues-filter" "all" %}">
            <i class="icon-search"></i> {% trans "Search" %}
        </a>
        {% if perms.auth.add_user %}
        <a class="btn btn-success" href="{% url "core-user-add" %}">
            <i class="icon-user"></i> {% trans "Add new external" %}
        </a>
        {% endif %}
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <h3>{% trans "Internal" %}</h3>
        <ul>
            {% for p in internal %}
            {% include "colleagues/list_include.html" %}
            {% endfor %}
        </ul>
    </div>

    <div class="span5">
        <h3>{% trans "External" %}</h3>
        <ul>
            {% for p in external %}
            {% include "colleagues/list_include.html" %}
            {% endfor %}
        </ul>
    </div>
</div>

<div id="modal-info" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% trans "User Information" %}</h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary">{% trans "OK" %}</a>
    </div>
</div>

<script type="text/javascript">
function show_info(uid) {
    $.get('/core/colleagues/info/'+uid+'/', function(ret_data) {
        $('#modal-info > div.modal-body').html(ret_data);
    });
    $('#modal-info').on('show', function() {
        $('#modal-info a.btn').on('click', function(e) {
            $('#modal-info').modal('hide');
        });
    });
    $('#modal-info').modal({
        'backdrop': 'static',
        'keyboard': true,
        'show': true
    });
}
</script>
{% endblock %}
