{% load url from future %}
{% load i18n %}
{% load staticfiles %}

<li>{{ forloop.counter }}) {{ p.name_prefix }} {{ p.user.last_name }}, {{ p.user.first_name }}
    {% if perms.auth.change_user %}
    <a class="btn btn-mini btn-warning" href="{% url "admin:core_userprofile_change" p.id %}">
    <i class="icon-edit"></i> {% trans "Edit" %}</a>
    <a class="btn btn-mini btn-primary" href="#" onclick="show_info({{ p.user.id }});">
        <i class="icon-info-sign icon-white"></i> {% trans "Info" %}</a>
    {% endif %}
</li>
