{% extends "index.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1">
        <table class="dTable table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Private" %}</th>
                    <th>{% trans "Mobile" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for p in profiles %}
            <tr>
                <td>{{ p.user.last_name }}, {{ p.user.first_name }}</td>
                <td>{{ p.phone }}</td>
                <td>{{ p.mobile }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset1">
        <a class="btn btn-info" href="{% url "core-pdf-phonelist" %}">{% trans "Printout" %}</a>
    </div>
</div>

{% endblock %}

{% block additional_js %}
<script>
$(function() {
    datatable_options['bPaginate'] = false;
    $('.dTable').dataTable(datatable_options);
});
</script>
{% endblock %}
