{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1">
        <p>{% trans "This data can only be seen by members of the Management group." %}</p>
        <form action="" method="post" class="form-horizontal">
            <legend>{% trans "Personal data" %}</legend>
            {% csrf_token %}
            {% for f in form %}
            <div class="control-group">
                <label class="control-label" for="{{ f.auto_id }}">{{ f.label }}</label>
                <div class="controls">
                    {{ f }}
                </div>
            </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <button class="btn" type="submit">{% trans "Save" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>
$(function() {
    $('#id_birthdate').datepicker({
        'format': 'dd.mm.yyyy',
        'weekStart': 1,
        'viewMode': 'years'
    });
});
</script>

{% endblock %}
