{% extends 'index.html' %}

{% block content %}
{% if ac.notify %}
<div class="row-fluid">
    <div class="span3">
        <a href="#" class="btn btn-info disabled">
            Unfallanzeige
        </a>
    </div>
    <div class="span3">
        <span class="label label-important">
            <i class="icon-warning-sign"></i>
            Dieser Unfall ist meldepflichtig!
            <i class="icon-warning-sign"></i>
        </span>
    </div>
</div>
{% endif %}

<div class="row-fluid">
    <div class="span4">
        <h3>Persönliche Daten</h3>
        {% if ac.is_employee %}
        <address>
            <strong>{{ ac.employee.last_name }}, {{ ac.employee.first_name }}</strong><br>
            {{ pr.street }}<br>
            {{ pr.zip_code }} {{ pr.city }}<br>
            {{ pr.country }}<br>
        </address>
        Geburtstag: {{ pr.birthdate }}<br>
        {% else %}
        <address>
            <strong>{{ ac.student.lastname }}, {{ ac.student.firstname }}</strong><br>
            {{ ac.student.street }}<br>
            {{ ac.student.zip_code }} {{ ac.student.city }}<br>
            {{ ac.student.country }}<br>
        </address>
        Geburtstag: {{ ac.student.birthdate }}<br>
        {% if ac.student.company %}
        <br>
        Firma: {{ ac.student.company }}<br>
        {% endif %}
        {% endif %}
    </div>
    <div class="span6">
        <h3>Unfalldetails</h3>
        <table class="table">
            <tr>
                <th>Datum / Zeit des Unfalls:</th>
                <td>{{ ac.date_time|date:'DATETIME_FORMAT' }}</td>
            </tr>
            <tr>
                <th>Eingetragen:</th>
                <td>{{ ac.added|date:'DATETIME_FORMAT' }}</td>
            </tr>
            <tr>
                <th>Eingetragen von:</th>
                <td>{{ ac.added_by.userprofile }}</td>
            </tr>
            <tr>
                <th>Verletzung:</th>
                <td>
                    {{ ac.get_violation_display }}
                    {% if ac.violation_def %}({{ ac.violation_def }}){% endif %}
                </td>
            </tr>
            <tr>
                <th>Ort:</th>
                <td>
                    {{ ac.place.name }}
                    {% if ac.place_def %}({{ ac.place_def }}){% endif %}
                </td>
            </tr>
            <tr>
                <th>Zeugen:</th>
                <td>{{ ac.witnesses|default:'-' }}</td>
            </tr>
            <tr>
                <th>Ersthelfer und/oder Arzt:</th>
                <td>{{ ac.helper }}</td>
            </tr>
            <tr>
                <th>Erste-Hilfe-Maßnahmen:</th>
                <td>{{ ac.first_aid }}</td>
            </tr>
            <tr>
                <th>Benutztes Material:</th>
                <td>{{ ac.used|default:'-' }}</td>
            </tr>
            <tr>
                <th>Bemerkung:</th>
                <td>{{ ac.comment|default:'-' }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
        <a href="{% url 'core-accidents' %}" class="btn btn-info">
            zurück
        </a>
    </div>
</div>
{% endblock %}
