{% extends 'index.html' %}

{% block content %}
{% if not old %}
<div class="row-fluid">
    <div class="span3">
        <button type="button" class="btn btn-success" onclick="add_accident();">
            Neuen Unfall aufnehmen
        </button>
    </div>
    <div class="span3">
        <a href="{% url 'core-accidents-statistic' %}" class="btn btn-info">
            Unfallstatistik
        </a>
    </div>
</div>
<hr>
{% endif %}

<div class="row-fluid">
    <table class="table table-striped dataTable">
        <thead>
            <tr>
                <th>Datum / Zeit</th>
                <th>Verletzte Person</th>
                <th>Ort</th>
                <th>Verletzung</th>
                <th>Eingetragen von</th>
                <th>Meldepflichtig</th>
            </tr>
        </thead>
        <tbody>
            {% for a in accidents %}
            <tr>
                <td>
                    <a href="{% url 'core-accident-details' a.id %}" class="tt" title="Klicken für mehr Informationen">
                        {{ a.date_time|date:'DATETIME_FORMAT' }}
                    </a>
                </td>
                <td>{{ a.injured }}</td>
                <td>
                    <span class="tt" title="{{ a.place_def|default:'-' }}">
                        {{ a.place }}
                    </span>
                </td>
                <td>
                    <span class="tt" title="{{ a.violation_def|default:'-' }}">
                        {{ a.get_violation_display }}
                    </span>
                </td>
                <td>{{ a.added_by.userprofile }}</td>
                <td>
                    {% if a.notify %}
                    <span class="badge badge-important">Ja</span>
                    {% else %}
                    <span class="badge">Nein</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="row-fluid">
    <div class="span3">
        {% if old %}
        <a href="{% url 'core-accidents' %}" class="btn btn-info">
            zurück
        </a>
        {% else %}
        <a href="{% url 'core-accidents-old' %}" class="btn btn-info">
            Ältere Unfälle anzeigen
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>
function add_accident() {
    $.get('{% url "core-accident-add" %}', function(res) {
        $('body').append(res);
        $('#add_accident').modal({'show': true});
        $('#datetimepicker').datetimepicker({
            'language': 'de',
            'pickSeconds': false,
            'weekStart': 1
        });
    });
}

function save_accident() {
    var form = $('#accident_form');
    var pdata = {};
    var form_data = form.serializeArray();
    $.each(form_data, function() {
        pdata[this.name] = this.value;
    });
    $.post('{% url "core-api-accident-save" %}',
        {'_JSON_': JSON.stringify(pdata)},
        function(res) {
            $('#add_accident').modal('hide').remove();
            location.reload();
        }
    );
    return false;
}
</script>
{% endblock %}
