{% load i18n %}
{% load urls %}

{% for menu in menus %}
<p class="menutitle">{{ menu.title }}</p>
    {% for u, name in menu.entries %}
    <a class="menu" href="{% reverse u %}">&raquo; {{ name }}</a><br />
    {% endfor %}
{% endfor %}

<p class="menutitle">{% trans "User" %}</p>
  {% if user.is_authenticated %}
  <a class="menu" href="{% url core-logout %}">&raquo; {% trans "Logout" %}</a>
  <br />
    {% if user.is_staff %}
    <a class="menu" href="{% url admin:index %}">&raquo; {% trans "Admin" %}</a>
    <br />
    {% endif %}
  {% else %}
  <a class="menu" href="{% url core-login %}">&raquo; {% trans "Login" %}</a>
  <br />
  {% endif %}

