{% extends "index.html" %}
{% load i18n %}

{% block content %}
{% block formtag %}{% endblock %}
{% csrf_token %}
{{ form.art_supplier_id }}
<div class="row-fluid">
    <div class="span10">
        <legend>{% trans "Order" %}</legend>
        <div class="controls controls-row">
            <div class="input-prepend">
                <span class="add-on">{{ form.count.label }}</span>
                {{ form.count }}{{ form.count.errors }}
            </div>
            <div class="input-prepend">
                <span class="add-on">{{ form.art_name.label }}</span>
                {{ form.art_name }}{{ form.art_name.errors }}
            </div>
            <div class="input-prepend">
                <span class="add-on">{{ form.art_supplier_name.label }}</span>
                {{ form.art_supplier_name }}{{ form.art_supplier_name.errors }}
            </div>
        </div>
        <div class="controls controls-row">
            <div class="input-prepend">
                <span class="add-on">{{ form.art_id.label }}</span>
                {{ form.art_id }}{{ form.art_id.errors }}
            </div>
            <div class="input-prepend">
                <span class="add-on">{{ form.art_q.label_tag }}</span>
                {{ form.art_q }}{{ form.art_q.errors }}
            </div>
            <div class="input-prepend input-append">
                <span class="add-on">Einzelpreis</span>
                {{ form.art_price }}{{ form.art_price.errors }}
                <span class="add-on">{{ CURRENCY_SYM }}</span>
                <span id="fullprice" class="add-on">Gesamtpreis: -</span>
            </div>
        </div>
        <div class="controls controls-row">
            {% if not extra %}
            <div class="input-prepend">
                <span class="add-on">{{ form.oday.label }}</span>
                {{ form.oday }}{{ form.oday.errors }}
            </div>
            {% endif %}
            <button type="button" class="btn btn-inverse" id="memo_trigger">{{ form.memo.label }}</button>
            <span style="display:none;position:absolute;z-index:3;" id="memo">{{ form.memo }}</span>
            <label class="checkbox inline" for="id_exam">
                {{ form.exam }} {{ form.exam.label }}
            </label>
            <label class="checkbox inline" for="id_repair">
                {{ form.repair }} {{ form.repair.label }}
            </label>
        </div>
    </div>
</div>
{% block formextra %}{% endblock %}
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
function update_price() {
    var count = $('#id_count').val();
    var price = $('#id_art_price').val();
    if (count == '' || price == '') {
        $('#fullprice').text('Gesamtpreis: -');
    } else {
        full = Number(count) * Number(price.replace(',', '.'));
        $('#fullprice').text(
            'Gesamtpreis: '+full.toFixed(2)+' {{ CURRENCY_SYM }}'
        );
    }
}

$(function() {
    $.getJSON('{% url "orders-api-article" article_id %}', function(data) {
        $.each(data, function(key, val) {
            $("#id_" + key).val(val);
        });
    });
    $('#memo_trigger').click(
        function() {
            $('#memo').toggle();
        }
    );
    $('#id_count').keyup(function() {
        update_price();
    });
    $('#id_art_price').keyup(function() {
        update_price();
    });
    update_price();
});
$(function() {
    var options = {
        'source': function(query, process) {
            suppliers = [];
            map = {};
            return $.ajax({
                'url': '{% url "orders-api-suppliers" %}',
                'type': 'get',
                'data': {'term': query},
                'dataType': 'json',
                'success': function(data) {
                    $.each(data, function(i, sup) {
                        map[sup['label']] = sup;
                        suppliers.push(sup['label']);
                    });
                    return process(suppliers);
                }
            });
        },
        'updater': function(item) {
            var obj = map[item];
            $('#id_art_supplier_id').val(obj['value']);
            return item;
        }
    };
    $('#id_art_supplier_name').typeahead(options);
});
{% block form_js %}{% endblock %}
</script>
{% endblock %}

