{% extends "index.html" %}
{% load i18n %}

{% block content %}
{% block formtag %}{% endblock %}
{% csrf_token %}
{{ form.art_supplier_id }}
<div class="row-fluid">
    <div class="span4">
        <legend>Bestellung</legend>
        <div class="control-group">
            <label class="control-label" for="id_count">
                {{ form.count.label }}
            </label>
            <div class="controls">
                {{ form.count }}{{ form.count.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_art_name">
                {{ form.art_name.label }}
            </label>
            <div class="controls">
                {{ form.art_name }}{{ form.art_name.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_art_supplier">
                {{ form.art_supplier_name.label }}
            </label>
            <div class="controls">
                {{ form.art_supplier_name }}{{ form.art_supplier_name.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_art_id">
                {{ form.art_id.label }}
            </label>
            <div class="controls">
                {{ form.art_id }}{{ form.art_id.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_art_q">
                {{ form.art_q.label_tag }}
            </label>
            <div class="controls">
                {{ form.art_q }}{{ form.art_q.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">MWST</label>
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" name="tax" id="tax-19" value="19" checked>
                    19%
                </label>
                <label class="radio inline">
                    <input type="radio" name="tax" id="tax-7" value="7">
                    7%
                </label>
                <button class="btn btn-mini pull-right" id="reset-price" title="Alle Preisfelder zurücksetzen">
                    <i class="icon-remove"></i>
                </button>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_art_price">
                {{ form.art_price.label }}
            </label>
            <div class="controls">
                <div class="input-append" title="Nur dieser Preis (netto) wird in die Datenbank übernommen. Bitte auf korrekte MWST achten!">
                    {{ form.art_price }}
                    <span class="add-on">{{ CURRENCY_SYM }}</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Bruttopreis
            </label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" id="brutto">
                    <span class="add-on">{{ CURRENCY_SYM }}</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Gesamtpreis</label>
            <div class="controls">
                <span id="fullprice" class="uneditable-input">-</span>
            </div>
        </div>
        {% if not extra %}
        <div class="control-group">
            <label class="control-label" for="id_oday">
                {{ form.oday.label }}
            </label>
            <div class="controls">
                {{ form.oday }}
            </div>
        </div>
        {% endif %}
        <div class="control-group">
            <div class="controls">
                <button type="button" class="btn btn-inverse tt" id="memo_trigger" title="Hier können Sie dem Besteller eine Nachricht hinterlassen.">
                    Memo
                </button>
                <span style="display:none;position:absolute;z-index:3;" id="memo">
                    {{ form.memo }}
                </span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                {% if not article_id %}
                <label class="checkbox" for="id_tox">
                    {{ form.tox }} <b>{{ form.tox.label }}</b>
                </label>
                {% else %}
                <input type="hidden" name="tox" id="id_tox">
                {% endif %}
                <label class="checkbox" for="id_exam">
                    {{ form.exam }} {{ form.exam.label }}
                </label>
                <label class="checkbox" for="id_repair">
                    {{ form.repair }} {{ form.repair.label }}
                </label>
            </div>
        </div>
    </div>
    {% block formextra %}{% endblock %}
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
function update_price() {
    var count = $('#id_count').val();
    var price = $('#id_art_price').val();
    var mwst_val = $('input[name="tax"]:checked'). val();
    mwst = 1 + (Number(mwst_val) / 100);
    if (count == '' || price == '') {
        $('#fullprice').text('-');
    } else {
        full = Number(count) * Number(price.replace(',', '.')) * mwst;
        $('#fullprice').text(full.toFixed(2)+' {{ CURRENCY_SYM }}'
        );
    }
}

function update_brutto() {
    var price = $('#id_art_price').val();
    var mwst_val = $('input[name="tax"]:checked'). val();
    mwst = 1 + (Number(mwst_val) / 100);
    if (price == '') {
        $('#brutto').val('');
    } else {
        p = Number(price.replace(',', '.')) * mwst;
        $('#brutto').val(p.toFixed(2));
    }
}

function update_netto() {
    var brutto = $('#brutto').val();
    var mwst_val = $('input[name="tax"]:checked'). val();
    mwst = 1 + (Number(mwst_val) / 100);
    if (brutto == '') {
        $('#id_art_price').val('');
    } else {
        p = Number(brutto.replace(',', '.')) / mwst;
        $('#id_art_price').val(p.toFixed(2));
    }
}

$(function() {
    $.getJSON('{% url "orders-api-article" article_id %}', function(data) {
        if (data['art_tax'] == 7) {
            $('#tax-7').prop('checked', true);
        }
        $.each(data, function(key, val) {
            $("#id_" + key).val(val);
            update_price();
        });
    });
    $('#memo_trigger').click(
        function() {
            $('#memo').toggle();
        }
    );
    $('#id_count').keyup(function() {
        update_price();
    });
    $('#id_count').change(function() {
        update_price();
    });
    $('#id_art_price').keyup(function() {
        $('#brutto').prop('disabled', true);
        update_price();
        update_brutto();
    });
    $('input[name="tax"]').change(function() {
        update_brutto();
        update_price();
    });
    $('#brutto').keyup(function() {
        $('#id_art_price').prop('disabled', true);
        update_netto();
        update_price();
    });
    $('#reset-price').click(function(e) {
        e.preventDefault();
        $('#brutto').prop('disabled', false);
        $('#id_art_price').prop('disabled', false);
        $('#id_art_price').val('');
        $('#brutto').val('');
        $('#fullprice').text('-');
        $('#tax-19').prop('checked', true);
    });
});
$(function() {
    var options = {
        'source': function(query, process) {
            suppliers = [];
            map = {};
            return $.ajax({
                'url': '{% url "orders-api-suppliers" %}',
                'type': 'get',
                'data': {'term': query},
                'dataType': 'json',
                'success': function(data) {
                    $.each(data, function(i, sup) {
                        map[sup['label']] = sup;
                        suppliers.push(sup['label']);
                    });
                    return process(suppliers);
                }
            });
        },
        'updater': function(item) {
            var obj = map[item];
            $('#id_art_supplier_id').val(obj['value']);
            return item;
        }
    };
    $('#id_art_supplier_name').typeahead(options);
});
{% block form_js %}{% endblock %}
</script>
{% endblock %}
