{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span5">
        <form action="{% url "orders-add-oday" %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "Input" %}</legend>
                {{ form.day.label_tag }}
                <div id="daypicker" class="input-append">
                    <input type="text" name="day" id="id_day" data-format="dd.MM.yyyy">
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
                    </span>
                </div>
                {{ form.user.label_tag }}
                {{ form.user }}
                <br>
                <button type="submit" class="btn">{% trans "Save" %}</button>
            </fieldset>
        </form>
    </div>
    <div class="span5">
        <h3>{% trans "Orderdays" %}</h3>
        <ul>
            {% for od in odays %}
            <li>{{ od }}</li>
            {% empty %}
            <li>{% trans "No orderdays found." %}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

{% block additional_js %}
<script>
$(function() {
    $('#daypicker').datetimepicker({
        'language': 'de',
        'pickTime': false,
        'weekStart': 1
    });
})
</script>
{% endblock %}
