{% extends "index.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span6 offset2">
        {% if odays %}
        <table class="table table-striped">
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Responsible user" %}</th>
                <th>{% trans "Open orders" %}</th>
            </tr>
            {% for d in odays %}
            <tr>
                <td>
                    <a class="btn btn-mini btn-info tt" href="{% url "orders-detail" d.id %}" title="{% trans "Click for details." %}">
                        {{ d.day|date:"DATE_FORMAT" }}
                    </a>
                </td>
                <td>{{ d.user.get_profile }}</td>
                <td>{{ d.orders.count }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <div class="well well-small">
            <h3>{% trans "No order day found." %}</h3>
        </div>
        {% endif %}
    </div>
    {% if perms.orders.can_order %}
    <div class="span10 centered">
        <a class="btn btn-success" href="{% url "orders-add-oday" %}">
            {% trans "Add new order day" %}
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}

