{% extends "index.html" %}
{% load i18n %}

{% block content %}
<h2 class="headline">{% trans "Printouts by day" %}</h2>
<div id="po_accordion">
    {% for d in odays %}
    <h3><a href="#">{{ d }}, {% trans "Orders" %}: {{ d.count }},
        {% trans "Sum" %}: {{ d.price|floatformat:2 }} {{ CURRENCY_SYM }}</a></h3>
    <div>
        <ul>
            {% for p in d.printouts.all %}
            <li>
                <a href="{{ p.pdf.url }}">{{ p.company_name }}</a>,
                {% trans "Generated" %}: {{ p.generated|date:"SHORT_DATETIME_FORMAT" }}
            </li>
            {% empty %}
            <li>{% trans "No printouts for this day found." %}</li>
            {% endfor %}
        </ul>
    </div>
    {% empty %}
    <h3><a href="#">{% trans "No order day found." %}</a></h3>
    <div></div>
    {% endfor %}
</div>

<script type="text/javascript">
$(document).ready(function() {
    var options = {'animated': 'bounceslide', 'collapsible': true};
    $('#po_accordion').accordion(options);
});
</script>
{% endblock %}
