{% extends "index.html" %}
{% load i18n %}

{% block content %}
{% if odays %}
<div class="accordion" id="printouts">
    {% for d in odays %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="printouts" href="#day_{{ forloop.counter }}">
                {{ d }}, {% trans "Orders" %}: {{ d.count }}, Summe (brutto): {{ d.price|floatformat:2 }} {{ CURRENCY_SYM }}
            </a>
        </div>
        <div id="day_{{ forloop.counter }}" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul>
                    {% for p in d.printouts.all %}
                    <li>
                        <a href="{{ p.pdf.url }}">{{ p.company_name }}</a>,
                        {% trans "Generated" %}: {{ p.generated|date:"SHORT_DATETIME_FORMAT" }}
                    </li>
                    {% empty %}
                    <li>{% trans "No printouts for this day found." %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h3>{% trans "No order day found." %}</h3>
{% endif %}
{% endblock %}
