{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="row-fluid">
    <div class="span10 centered">
        <h3>{% trans "Sum" %}: <span id="sum">{{ order_sum|floatformat:2 }}</span>
            {{ CURRENCY_SYM }}
        </h3>
    </div>
</div>

{% if perms.orders.can_order and oday.has_accepted_order %}
<div class="row-fluid">
    <div class="span10">
        <form action="{% url "orders-genpdf" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="oday_id" value="{{ oday.id }}">
            <input type="hidden" name="header" value="Chemikalien und Ausbildungsmittel">
            <button class="btn btn-primary pull-right" type="submit">
                {% trans "Generate printouts" %}
            </button>
        </form>
    </div>
</div>
{% endif %}

<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped dTable">
            <thead>
                <tr>
                    <th>{% trans "Count" %}</th>
                    <th>{% trans "Article" %}</th>
                    <th>{% trans "Art. ID" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Price" %}</th>
                    <th>{% trans "Supplier" %}</th>
                    <th>{% trans "Orderer" %}</th>
                    <th>{% trans "State" %}</th>
                    <th>{% trans "Delete" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for o in orders %}
                <tr id="row_{{ forloop.counter }}">
                    <td>{% if o.state in states %}
                        <input type="text" class="input-mini" value="{{ o.count }}" name="count"
                            onchange="update_row({{ forloop.counter }});"
                            style="text-align:right;" />
                        <input type="hidden" name="order_id" value="{{ o.id }}" />
                        {% else %}{{ o.count }}{% endif %}
                    </td>
                    {% if o.state in states %}
                    <td title="{% trans "Only correct typos here!" %}">
                        <input class="input-medium" type="text" value="{{ o.article.name }}" name="art_name"
                            onchange="update_row({{ forloop.counter }});" />
                        <span style="display:none;">{{ o.article.name }}</span>
                    {% else %}
                    <td>{{ o.article.name }}
                    {% endif %}
                        {% if o.for_test %}
                        <small><span class="label label-important">{% trans "Exam" %}</span></small>
                        {% endif %}
                        {% if o.for_repair %}
                        <small><span class="label label-info">{% trans "Repair" %}</span></small>
                        {% endif %}
                    </td>
                    {% if o.state in states %}
                    <td title="{% trans "Only correct typos here!" %}">
                        <input class="input-mini" type="text" value="{{ o.article.ident }}" name="art_ident"
                            onchange="update_row({{ forloop.counter }});" />
                    {% else %}<td>{{ o.article.ident }}{% endif %}
                    </td>
                    <td>{{ o.article.quantity }}</td>
                    <td title="{% trans "Sum" %}: {{ o.price|floatformat:2 }}{{ CURRENCY_SYM }}">
                        {% if o.state in states %}
                        <div class="input-append">
                            <input class="input-mini" type="text" value="{{ o.article.price|floatformat:2 }}"
                                name="art_price" onchange="update_row({{ forloop.counter }});"
                                style="text-align:right;">
                            <span class="add-on">{{ CURRENCY_SYM }}</span>
                        </div>
                        {% else %}{{ o.article.price|floatformat:2 }}{{ CURRENCY_SYM }}{% endif %}
                    </td>
                    <td>
                        {% if perms.orders.can_order and o.state in states %}
                        <select id="supp_{{ forloop.counter }}" size="1" onchange="update_row({{ forloop.counter }});">
                        {% for id, name in suppliers %}<option value="{{ id }}"{% if o.article.supplier.id == id %} selected="selected"{% endif %}>{{ name }}</option>{% endfor %}
                        </select>
                        <span style="display:none;">{{ o.article.supplier.short_name }}</span>
                        {% else %}{{ o.article.supplier.short_name }}{% endif %}
                        {% if o.memo %}<span class="badge badge-info tt" title="{{ o.memo }}"><i class="icon-white icon-info-sign"> </i></span>{% endif %}
                    </td>
                    <td title="{{ o.costlist|join:", " }}">{{ o.userlist|join:", " }}</td>
                    {% if perms.orders.can_change_orderstate and o.state in states %}
                    <td>
                        <label class="radio">
                            <input type="radio" name="state_{{ forloop.counter }}" value="new"
                                onchange="update_state({{ forloop.counter }});"
                                {% if o.state == 'new' %} checked{% endif %}>
                            {% trans "New" %}
                        </label>
                        <label class="radio">
                            <input type="radio" name="state_{{ forloop.counter }}" value="rejected"
                                onchange="update_state({{ forloop.counter }});"
                                {% if o.state == 'rejected' %} checked{% endif %}>
                            {% trans "Rejected" %}
                        </label>
                        <label class="radio">
                            <input type="radio" name="state_{{ forloop.counter }}" value="accepted"
                                onchange="update_state({{ forloop.counter }});"
                                {% if o.state == 'accepted' %} checked{% endif %}>
                            {% trans "Accepted" %}
                        </label>
                    {% else %}
                    <td style="text-align:center;">
                        <span class="tt" title="{{ o.get_state_display }}">
                            <button type="button" class="btn btn-mini btn-{{ o.state_btn }}">
                                <i class="icon-white {{ o.state_icon }}"> </i>
                            </button>
                        </span>
                    {% endif %}
                    </td>
                    <td style="text-align:center;">
                        {% if o.state in states %}
                        <span class="tt" title="{% trans "Delete order now." %}">
                            <button type="button" class="btn btn-danger btn-mini" onclick="delete_order({{ o.id }}, '{{ o.article.name }}');">
                                <i class="icon-remove icon-white"> </i>
                            </button>
                        </span>
                        {% else %}{% trans "Not possible" %}{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>
$(function() {
    datatable_options['bPaginate'] = false;
    var oTable = $('.dtable').dataTable(datatable_options);
});

function update_row(row) {
    var oid = $('#row_'+row+' > td > :input[name="order_id"]').val();
    var count = $('#row_'+row+' > td > :input[name="count"]').val();
    var art_name = $('#row_'+row+' > td > :input[name="art_name"]').val();
    var art_ident = $('#row_'+row+' > td > :input[name="art_ident"]').val();
    var price = $('#row_'+row+' > td > :input[name="art_price"]').val();
    var supp_id = $('#supp_'+row+' :selected').val();
    data = {'order_id': parseInt(oid), 'count': parseInt(count),
            'art_name': art_name, 'art_ident': art_ident, 'price': price,
            'supp_id': parseInt(supp_id)};
    $.post('{% url "orders-api-change" %}', {'_JSON_': JSON.stringify(data)},
        function(data) {
            add_update_message(data['msg']);
        });
}

function update_state(row) {
    var oid = $('#row_'+row+' > td > :input[name="order_id"]').val();
    var state = $('#row_'+row+' > td > label > :input[name^="state"]:checked').val();
    post_data = {'order_id': parseInt(oid), 'state': state};
    $.post('{% url "orders-api-state" %}', {'_JSON_': JSON.stringify(post_data)},
        function(ret_data) {
            add_update_message(ret_data['msg']);
        });
}
</script>

{% endblock %}
