{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<h2 class="headline">{% trans "Edit orders for" %} {{ oday }}</h2>
<h3 id="sum" style="text-align:center;color:{% if order_sum > 6000 %}red{% else %}green{% endif %};">
{% trans "Sum" %}: {{ order_sum|floatformat:2 }}{{ CURRENCY_SYM }}</h3>
<p>{% trans "All changes will be saved automatically." %}</p>

{% if perms.orders.can_order and oday.has_accepted_order %}
<form action="{% url orders-genpdf %}" method="post">
{% csrf_token %}
<input type="hidden" name="oday_id" value="{{ oday.id }}" />
<input type="hidden" name="header" value="Chemikalien und Ausbildungsmittel" />
<p><input type="submit" value="{% trans "Generate printouts" %}" /></p>
</form>
{% endif %}

<table id="dataTable">
    <thead>
        <tr>
            <th>{% trans "Count" %}</th>
            <th>{% trans "Article" %}</th>
            <th>{% trans "Art. ID" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Supplier" %}</th>
            <th>{% trans "Orderer" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Delete" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
        <tr id="row_{{ forloop.counter }}">
            <td>{% if o.state in states %}
                <input type="text" value="{{ o.count }}" name="count"
                    size="3" onchange="update_row({{ forloop.counter }});"
                    style="text-align:right;" />
                <input type="hidden" name="order_id" value="{{ o.id }}" />
                {% else %}{{ o.count }}{% endif %}
            </td>
            {% if o.state in states %}
            <td title="{% trans "Only correct typos here!" %}">
                <input type="text" value="{{ o.article.name }}" name="art_name"
                    onchange="update_row({{ forloop.counter }});" />
                <span style="display:none;">{{ o.article.name }}</span>
            {% else %}<td>{{ o.article.name }}{% endif %}
            </td>
            {% if o.state in states %}
            <td title="{% trans "Only correct typos here!" %}">
                <input type="text" value="{{ o.article.ident }}" name="art_ident"
                    onchange="update_row({{ forloop.counter }});" />
            {% else %}<td>{{ o.article.ident }}{% endif %}
            </td>
            <td>{{ o.article.quantity }}</td>
            <td title="{% trans "Sum" %}: {{ o.price|floatformat:2 }}{{ CURRENCY_SYM }}">
                {% if o.state in states %}
                <input type="text" value="{{ o.article.price|floatformat:2 }}"
                    name="art_price" size="6" onchange="update_row({{ forloop.counter }});"
                    style="text-align:right;" />{{ CURRENCY_SYM }}
                {% else %}{{ o.article.price|floatformat:2 }}{{ CURRENCY_SYM }}{% endif %}
            </td>
            <td title="{{ o.memo|default:"-" }}">
                {% if perms.orders.can_order and o.state in states %}
                <select id="supp_{{ forloop.counter }}" size="1" onchange="update_row({{ forloop.counter }});">
                {% for id, name in suppliers %}<option value="{{ id }}"{% if o.article.supplier.id == id %} selected="selected"{% endif %} />{{ name }}</option>{% endfor %}
                </select>
                {% else %}{{ o.article.supplier.short_name }}{% endif %}
            </td>
            <td title="{{ o.costlist|join:", " }}">{{ o.userlist|join:", " }}</td>
            {% if perms.orders.can_change_orderstate and o.state in states %}
            <td>
                <input type="radio" name="state_{{ forloop.counter }}" value="new"
                    {% if o.state == 'new' %} checked="checked"{% endif %}
                    onchange="update_row({{ forloop.counter }});" />
                    {% trans "New" %}<br />
                <input type="radio" name="state_{{ forloop.counter }}" value="rejected"
                    {% if o.state == 'rejected' %} checked="checked"{% endif %}
                    onchange="update_row({{ forloop.counter }});" />
                    {% trans "Rejected" %}<br />
                <input type="radio" name="state_{{ forloop.counter }}" value="accepted"
                    {% if o.state == 'accepted' %} checked="checked"{% endif %}
                    onchange="update_row({{ forloop.counter }});" />
                    {% trans "Accepted" %}<br />
            {% else %}
            <td title="{{ o.get_state_display }}" style="text-align:center;">
                <img src="{{ o.state_icon }}" alt="{{ o.state }}" />
            {% endif %}
            </td>
            <td style="text-align:center;">
                {% if o.state in states %}
                <a href="{% url orders-delete oday.id o.id %}">
                    <img src="{% static "img/delete.png" %}" alt="{% trans "Delete" %}"
                        title="{% trans "Delete" %}"/>
                </a>
                {% else %}{% trans "Not possible" %}{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="upd_messages">
<h3>{% trans "Changes" %}</h3>
<ul>
</ul>
</div>

<script>
$(document).ready(function() {
  var oTable = $('#dataTable').dataTable({
    "bJQueryUI": true,
    "bPaginate": false,
    "oLanguage": {
      "sUrl": "{% static "i18n/de_DE.txt" %}"
    }
  });
});
function update_row(row) {
    var oid = $('#row_'+row+' > td > :input[name="order_id"]').val();
    var count = $('#row_'+row+' > td > :input[name="count"]').val();
    var art_name = $('#row_'+row+' > td > :input[name="art_name"]').val();
    var art_ident = $('#row_'+row+' > td > :input[name="art_ident"]').val();
    var price = $('#row_'+row+' > td > :input[name="art_price"]').val();
    var state = $('#row_'+row+' > td > :input[name^="state"]:checked').val();
    var supp_id = $('#supp_'+row+' :selected').val();
    data = {'order_id': parseInt(oid), 'count': parseInt(count),
            'art_name': art_name, 'art_ident': art_ident, 'price': price,
            'state': state, 'supp_id': parseInt(supp_id)};
    $.post('{% url orders-api-change %}', {'_JSON_': JSON.stringify(data)},
        function(data) {
            $('#upd_messages').show('slow');
            $('#upd_messages > ul').prepend('<li>'+data['msg']+'</li>');
        });
}
</script>

{% endblock %}
