{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<h2 class="headline">{% trans "Select Order Day" %}</h2>
<div style="text-align:center;">
<form action="{% url orders-manage %}" method="post">
{% csrf_token %}
<p>{% trans "Please select the order day do you want to edit" %}:
    <select name="oday" size="1">
        {% for o in odays %}
        <option value="{{ o.id }}">{{ o }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans "Select" %}" />
</p>
</form>
</div>
<hr />
<div style="text-align:center;">
<a href="{% url orders-add-oday %}">{% trans "Add new orderday" %}</a> |
<a href="{% url orders-list-printouts %}">{% trans "List of all printouts" %}</a>
</div>
<hr />
<h2 class="headline">{% trans "Select Representative" %}</h2>
<div id="update_message"></div>
<div style="text-align:center;">
<table style="border:1px solid blue;margin:5px auto;">
    <tr>
        {% if perms.orders.can_order %}
        <th>{% trans "Make orders" %}:</th>
        {% endif %}
        {% if perms.order.can_change_orderstate %}
        <th>{% trans "Accept / Reject orders" %}:</th>
        {% endif %}
    </tr>
    <tr>
        {% if perms.orders.can_order %}
        <td>
            <select name="can_order" id="can_order" size="5" multiple="multiple">
                {% for ou in users %}
                <option value="{{ ou.id }}"{% if ou.username in can_order %}
                    selected="selected"{% endif %}>{{ ou.get_profile }}</option>
                {% endfor %}
            </select>
        </td>
        {% endif %}
        {% if perms.order.can_change_orderstate %}
        <td>
            <select name="can_change_orderstate" id="can_change_orderstate" size="5" multiple="multiple">
                {% for cu in users %}
                <option value="{{ cu.id }}"{% if cu.username in can_change %}
                    selected="selected"{% endif %}>{{ cu.get_profile }}</option>
                {% endfor %}
            </select>
        </td>
        {% endif %}
    </tr>
    <tr>
        {% if perms.orders.can_order %}
        <td>
            <input type="button" value="{% trans "Save" %}" onclick="save_changes('can_order');" />
        </td>
        {% endif %}
        {% if perms.order.can_change_orderstate %}
        <td>
            <input type="button" value="{% trans "Save" %}" onclick="save_changes('can_change_orderstate');" />
        </td>
        {% endif %}
    </tr>
</table>
</div>

<script type="text/javascript">
function save_changes(action_type) {
    var users = $('#'+action_type).val() || [];
    var url = '{% url orders-api-repr %}';
    var dat = {'type': action_type, 'users': users};
    $.post(url, dat, function(data) {
        $('#update_message').text(data['msg']).toggle('slow');
        setTimeout(function() {
                $('#update_message').text('').toggle('slow');
            }, 5000);
    });
}
</script>

{% endblock %}
