{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span10 centered" id="sum_container">
        <h3>{% trans "Sum" %}: <span id="sum">{{ order_sum|floatformat:2 }}</span>
            {{ CURRENCY_SYM }}
        </h3>
    </div>
</div>

{% if perms.orders.can_order and oday.has_accepted_order %}
<div class="row-fluid">
    <div class="span10">
        <div id="accepted"{% if not oday.accepted %} style="display:none;"{% endif %}>
            <form action="{% url "orders-genpdf" %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="oday_id" value="{{ oday.id }}">
                <input type="hidden" name="header" value="Chemikalien und Ausbildungsmittel">
                <button class="btn btn-primary" type="submit">
                    {% trans "Generate printouts" %}
                </button>
            </form>
            <br>
        </div>
        <div id="not-accepted"{% if oday.accepted %} style="display:none;"{% endif %}>
            <button id="accepted" class="btn btn-danger">
                Der Bestelltag muss noch genehmigt werden!
            </button>
            {% if perms.orders.can_accept_odays %}
            <br>
            <button class="btn btn-success" onclick="accept_oday();">
                Bestelltag genehmigen
            </button>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

<div class="row-fluid">
    <table class="table table-striped" id="order-table">
        <thead>
            <tr>
                <th>{% trans "Count" %}</th>
                <th>{% trans "Article" %}</th>
                <th>{% trans "Art. ID" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Price" %}</th>
                <th>{% trans "Supplier" %}</th>
                <th>{% trans "Orderer" %}</th>
                <th>{% trans "State" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for o in orders %}
            <tr>
                <td>{% if o.state in states %}
                    <input type="text" class="input-mini" value="{{ o.count }}" name="count"
                        onchange="update_row({{ forloop.counter }});"
                        style="text-align:right;" id="count_{{ forloop.counter }}">
                    <input type="hidden" name="order_id" value="{{ o.id }}" id="order_id_{{ forloop.counter }}">
                    {% else %}{{ o.count }}{% endif %}
                </td>
                {% if o.state in states %}
                <td>
                    <input class="input-large" type="text" value="{{ o.article.name }}" name="art_name" onchange="update_row({{ forloop.counter }});" id="art_name_{{ forloop.counter }}">
                    <span style="display:none;">{{ o.article.name }}</span>
                {% else %}
                <td>{{ o.article.name }}
                {% endif %}
                    {% if o.for_test %}
                    <small><span class="label label-important">{% trans "Exam" %}</span></small>
                    {% endif %}
                    {% if o.for_repair %}
                    <small><span class="label label-info">{% trans "Repair" %}</span></small>
                    {% endif %}
                </td>
                <td>
                {% if o.state in states %}
                    <input class="input-medium" type="text" value="{{ o.article.ident }}" name="art_ident" onchange="update_row({{ forloop.counter }});" id="art_ident_{{ forloop.counter }}">
                {% else %}{{ o.article.ident }}{% endif %}
                </td>
                <td>{{ o.article.quantity }}</td>
                <td>
                    <span id="total_{{ forloop.counter }}" class="tt" title="{% trans "Sum" %}: {{ o.price|floatformat:2 }}{{ CURRENCY_SYM }}">
                        {% if o.state in states %}
                        <div class="input-append">
                            <input class="input-mini" type="text" value="{{ o.article.price|floatformat:2 }}"
                                name="art_price" onchange="update_row({{ forloop.counter }});"
                                style="text-align:right;" id="art_price_{{ forloop.counter }}">
                            <span class="add-on">{{ CURRENCY_SYM }}</span>
                        </div>
                        {% else %}{{ o.article.price|floatformat:2 }}{{ CURRENCY_SYM }}{% endif %}
                    </span>
                </td>
                <td>
                    {% if perms.orders.can_order and o.state in states %}
                    <select id="supp_{{ forloop.counter }}" size="1" onchange="update_row({{ forloop.counter }});">
                    {% for id, name in suppliers %}<option value="{{ id }}"{% if o.article.supplier.id == id %} selected="selected"{% endif %}>{{ name }}</option>{% endfor %}
                    </select>
                    <span style="display:none;">{{ o.article.supplier.short_name }}</span>
                    {% else %}{{ o.article.supplier.short_name }}{% endif %}
                    {% if o.memo %}<span class="badge badge-info tt" title="{{ o.memo }}"><i class="icon-white icon-info-sign"> </i></span>{% endif %}
                </td>
                <td>
                    <span class="tt" title="{{ o.costlist|join:", " }}">
                        {{ o.userlist|join:", " }}
                    </span>
                </td>
                {% if perms.orders.can_change_orderstate and o.state in states %}
                <td id="state_{{ forloop.counter }}">
                    <label class="radio">
                        <input type="radio" name="state_{{ forloop.counter }}" value="new"
                            onchange="update_state({{ forloop.counter }});"
                            {% if o.state == 'new' %} checked{% endif %}>
                        {% trans "New" %}
                    </label>
                    <label class="radio">
                        <input type="radio" name="state_{{ forloop.counter }}" value="rejected"
                            onchange="update_state({{ forloop.counter }});"
                            {% if o.state == 'rejected' %} checked{% endif %}>
                        {% trans "Rejected" %}
                    </label>
                    <label class="radio">
                        <input type="radio" name="state_{{ forloop.counter }}" value="accepted"
                            onchange="update_state({{ forloop.counter }});"
                            {% if o.state == 'accepted' %} checked{% endif %}>
                        {% trans "Accepted" %}
                    </label>
                {% else %}
                <td style="text-align:center;">
                    <span class="tt" title="{{ o.get_state_display }}">
                        <button type="button" class="btn btn-mini btn-{{ o.state_btn }}">
                            <i class="icon-white {{ o.state_icon }}"> </i>
                        </button>
                    </span>
                {% endif %}
                </td>
                <td style="text-align:center;">
                    {% if perms.orders.can_change_orderstate and o.state in states %}
                    <span class="tt" title="{% trans 'Move order to other order day and set state to NEW.' %}">
                        <button type="button" class="btn btn-warning btn-mini"
                            onclick="move_order({{ oday.id }}, {{ o.id }});">
                            <i class="icon-circle-arrow-right"> </i>
                        </button>
                    </span>
                    {% endif %}
                    {% if o.state in states %}
                    <span class="tt" title="{% trans "Delete order now." %}">
                        <button type="button" class="btn btn-danger btn-mini"
                            onclick="delete_order({{ o.id }}, '{{ o.article.name }}');">
                            <i class="icon-remove icon-white"> </i>
                        </button>
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block additional_js %}
<script>
$(function() {
    color_sum();
    datatable_options['bPaginate'] = false;
    var oTable = $('#order-table').dataTable(datatable_options);
});

function move_order(oday_id, oid) {
    var data = {'oday_id': oday_id, 'oid': oid};
    $.get('{% url "orders-move-order" %}', data, function(ret) {
            $('body').append(ret);
            $('#move_order').modal({'show': true});
        }
    );
}

function accept_oday() {
    $.get('{% url "orders-api-accept-oday" oday.id %}', function(ret) {
        if (ret == 'FAILED') {
            add_update_message('Genehmigen fehlgeschlagen!');
        } else {
            add_update_message('Bestelltag genehmigt');
            $('#accepted').show();
            $('#not-accepted').hide();
        }
    });
}

function save_moved_order() {
    var oid = parseInt($('#order').val());
    if (oid == 0) {
        $('#move_order').modal('hide').remove();
        add_update_message('Verschieben abgebrochen!');
    } else {
        var oday_id = parseInt($('#new_oday option:selected').val());
        var data = {'oday_id': oday_id, 'oid': oid};
        $.post('{% url "orders-api-move-order" %}',
            {'_JSON_': JSON.stringify(data)},
            function(ret) {
                $('#move_order').modal('hide').remove();
                location.reload();
            }
        );
    }
}

function color_sum() {
    var fullcost = parseFloat($('#sum').text().replace(',', '.'));
    var container = $('#sum_container');
    if (fullcost < 6000) {
        container.css('color', 'green');
    } else {
        container.css('color', 'red');
    }
}

function update_sum(diff) {
    var fullcost = parseFloat($('#sum').text().replace(',', '.'));
    var new_sum = fullcost + diff;
    $('#sum').text(new_sum.toFixed(2).toString().replace('.', ','));
    color_sum();
}

function update_row(row) {
    var oid = $('#order_id_'+row).val();
    var count = $('#count_'+row).val();
    var art_name = $('#art_name_'+row).val();
    var art_ident = $('#art_ident_'+row).val();
    var price = $('#art_price_'+row).val();
    var supp_id = $('#supp_'+row+' :selected').val();
    data = {'order_id': parseInt(oid), 'count': parseInt(count),
            'art_name': art_name, 'art_ident': art_ident, 'price': price,
            'supp_id': parseInt(supp_id)};
    $.post('{% url "orders-api-change" %}', {'_JSON_': JSON.stringify(data)},
        function(data) {
            update_sum(data['diff']);
            add_update_message(data['msg']);
            s = 'Summe: '+data['total'].toFixed(2).toString().replace('.', ',')+
                '{{ CURRENCY_SYM }}';
            $('#total_'+row).attr('data-original-title', s);
        });
}

function update_state(row) {
    var oid = $('#order_id_'+row).val();
    var state = $('#state_'+row+' > label > :input[name^="state"]:checked').val();
    post_data = {'order_id': parseInt(oid), 'state': state};
    $.post('{% url "orders-api-state" %}', {'_JSON_': JSON.stringify(post_data)},
        function(ret_data) {
            add_update_message(ret_data['msg']);
            update_sum(ret_data['diff']);
        });
}
</script>

{% endblock %}
