{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1">
        <form class="form-inline" action="{% url "orders-manage" %}" method="post">
            {% csrf_token %}
            <legend>{% trans "Select Order Day" %}</legend>
            <label for="select_oday">
                {% trans "Please select the order day do you want to edit" %}:
            </label>
            <select name="oday" size="1" id="select_oday">
                {% for o in odays %}
                <option value="{{ o.id }}">{{ o }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn">{% trans "Select" %}</button>
        </form>
        <hr>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset1 centered">
        <a class="btn btn-success" href="{% url "orders-add-oday" %}">{% trans "Add new orderday" %}</a>
        <a class="btn btn-primary" href="{% url "orders-list-printouts" %}">{% trans "List of all printouts" %}</a>
        <hr>
    </div>
</div>

<div class="row-fluid">
    <div class="span4 offset1">
        <h3>{% trans "Select Representatives" %}</h3>
    </div>
</div>

<div class="row-fluid">
    {% if perms.orders.can_order %}
    <div class="span4 offset1">
        <form>
            <legend>{% trans "Make orders" %}:</legend>
            <select name="can_order" id="can_order" size="5" multiple="multiple">
                {% for ou in users %}
                <option value="{{ ou.id }}"{% if ou.username in can_order %}
                    selected="selected"{% endif %}>{{ ou.get_profile }}</option>
                {% endfor %}
            </select>
            <div class="form-actions">
                <button type="button" class="btn btn-warning" onclick="save_changes('can_order');">
                    <i class="icon-white icon-check"> </i> {% trans "Save" %}
                </button>
            </div>
        </form>
    </div>
    {% endif %}
    {% if perms.order.can_change_orderstate %}
    <div class="span4 offset1">
        <form>
            <legend>{% trans "Accept / Reject orders" %}:</legend>
            <select name="can_change_orderstate" id="can_change_orderstate" size="5" multiple="multiple">
                {% for cu in users %}
                <option value="{{ cu.id }}"{% if cu.username in can_change %}
                    selected="selected"{% endif %}>{{ cu.get_profile }}</option>
                {% endfor %}
            </select>
            <div class="form-actions">
                <button type="button" class="btn btn-warning" onclick="save_changes('can_change_orderstate');">
                    <i class="icon-white icon-check"> </i> {% trans "Save" %}
                </button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
function save_changes(action_type) {
    var users = $('#'+action_type).val() || [];
    var url = '{% url "orders-api-repr" %}';
    var dat = {'type': action_type, 'users': users};
    $.post(url, dat, function(data) {
        add_update_message(data['msg']);
    });
}
</script>
{% endblock %}
