{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<h2 class="headline">{% trans "Orders for" %} {{ userprofile }}</h2>
{% if orders %}
<table id="dataTable">
    <thead>
        <tr>
            <th>{% trans "Ordered" %}</th>
            <th>{% trans "Count" %}</th>
            <th>{% trans "Article" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Supplier" %}</th>
            <th>{% trans "State" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
        <tr>
            <td title="{% if o.ordered %}{% trans "Send" %}: {{ o.ordered|date }}{% else %}{% trans "Not ordered yet" %}{% endif %}">
                {{ o.added|date:"SHORT_DATE_FORMAT" }}
            </td>
            <td style="text-align:center;">{{ o.count }}</td>
            <td title="{% trans "Ident Number" %}: {{ o.article.ident }}">
                {{ o.article.name }}</td>
            <td>{{ o.article.quantity }}</td>
            <td style="text-align:right;" title="{% trans "Single Price" %}!">
                {{ o.article.fullprice }}</td>
            <td>{{ o.article.supplier }}</td>
            <td title="{{ o.get_state_display }}" style="text-align:center;">
                <img src="{{ o.state_icon }}" alt="{{ o.state }}" />
            </td>
            <td><a href="{% url "orders-order" o.article.id %}">{% trans "ReOrder" %}</a>
                {% if perms.orders.extra_order %}
                <a href="{% url "orders-extra-order" o.article.id %}">{% trans "Now" %}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
$(function() {
  var oTable = $('#dataTable').dataTable({
    "bJQueryUI": true,
    "bPaginate": true,
    "oLanguage": {
      "sUrl": "{% static "i18n/de_DE.txt" %}"
    }
  });
  $(document).tooltip();
});
</script>

{% else %}
<p>{% trans "No orders found." %}</p>
{% endif %}

{% endblock %}
