{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1 centered">
        <a name="top"></a>
        <a class="btn{% if state == 'all' %} disabled{% endif %}" href="{% url 'orders-myorders' %}">
            <i class="icon-certificate"> </i> Alle
        </a>
        {% for st in states %}
        <a class="btn btn-{{ st.btn }}{% if state == st.name %} disabled{% endif %}" href="{% url 'orders-myorders' st.name %}">
            <i class="icon-white {{ st.icon }}"> </i> {{ st.disp }}
        </a>
        {% endfor %}
    </div>
</div>

<div class="row-fluid">
    <hr>
    <table class="table table-striped dataTable">
        <thead>
            <tr>
                <th>{% trans "Ordered" %}</th>
                <th>{% trans "Count" %}</th>
                <th>{% trans "Article" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Price" %}</th>
                <th>{% trans "Supplier" %}</th>
                <th>{% trans "State" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for o in orders %}
            <tr>
                <td>
                    {% if o.ordered %}
                    <span class="tt" title="{% trans "Send" %}: {{ o.ordered|date:'Y-m-d' }}">
                        {{ o.added|date:'Y-m-d' }}
                    </span>
                    {% else %}{{ o.added|date:'Y-m-d' }}{% endif %}
                </td>
                <td style="text-align:center;">{{ o.count }}</td>
                <td>
                    <span class="tt" title="{% trans "Ident Number" %}: {{ o.article.ident }}">
                        {{ o.article.name }}
                    </span>
                </td>
                <td>{{ o.article.quantity }}</td>
                <td style="text-align:right;">
                    <span class="tt" title="{% trans "Single Price" %}!">
                        {{ o.article.fullprice }}
                    </span>
                </td>
                <td>{{ o.article.supplier }}</td>
                <td>
                    <button type="button" class="btn btn-{{ o.dsp_state.btn }} tt" title="{{ o.dsp_state.disp }}">
                        <i class="icon-white {{ o.dsp_state.icon }}"> </i>
                    </button>
                </td>
                <td>
                    <a class="btn btn-mini" href="{% url 'orders-order' o.article.id %}">
                        <i class="icon-shopping-cart"> </i> {% trans "ReOrder" %}
                    </a>
                    {% if perms.orders.extra_order %}
                    <a class="btn btn-mini btn-warning" href="{% url 'orders-extra-order' o.article.id %}">
                        {% trans "Now" %}
                    </a>
                    {% endif %}
                    {% if o.state.name == "rejected" %}
                    <button type="button" class="btn btn-danger btn-mini" onclick="delete_order({{ o.id }}, '{{ o.article.name }}');">
                        <i class="icon-remove icon-white"> </i> {% trans "Delete" %}
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="row-fluid">
    <div class="span10 centered">
        <a class="btn" href="#top">
            <i class="icon-arrow-up"> </i>
            {% trans "Go to top" %}
            <i class="icon-arrow-up"> </i>
        </a>
    </div>
</div>
{% endblock %}
