{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1 centered">
        <a name="top"></a>
        {% for state, ods in orders %}
        <a class="btn btn-{{ state.btn }}" href="#{{ state.name }}">
            <i class="icon-white {{ state.icon }}"> </i> {{ state.disp }}
        </a>
        {% endfor %}
    </div>
</div>

{% for state, ods in orders %}
<div class="row-fluid">
    <div class="span10">
        <button type="button" class="btn btn-{{ state.btn }} btn-large pull-right">
            <i class="icon-white {{ state.icon }}"> </i> {{ state.disp }}
        </button>
    </div>
</div>
<a name="{{ state.name }}"></a>
<div class="row-fluid">
    <div class="span10">
        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    <th>{% trans "Ordered" %}</th>
                    <th>{% trans "Count" %}</th>
                    <th>{% trans "Article" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Price" %}</th>
                    <th>{% trans "Supplier" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for o in ods %}
                <tr>
                    <td>
                        {% if o.ordered %}
                        <span class="tt" title="{% trans "Send" %}: {{ o.ordered|date }}">
                            {{ o.added|date:"SHORT_DATE_FORMAT" }}
                        </span>
                        {% else %}{{ o.added|date:"SHORT_DATE_FORMAT" }}{% endif %}
                    </td>
                    <td style="text-align:center;">{{ o.count }}</td>
                    <td>
                        <span class="tt" title="{% trans "Ident Number" %}: {{ o.article.ident }}">
                            {{ o.article.name }}
                        </span>
                    </td>
                    <td>{{ o.article.quantity }}</td>
                    <td style="text-align:right;">
                        <span class="tt" title="{% trans "Single Price" %}!">
                            {{ o.article.fullprice }}
                        </span>
                    </td>
                    <td>{{ o.article.supplier }}</td>
                    <td>
                        <a class="btn btn-mini" href="{% url "orders-order" o.article.id %}">
                            <i class="icon-shopping-cart"> </i> {% trans "ReOrder" %}
                        </a>
                        {% if perms.orders.extra_order %}
                        <a class="btn btn-mini btn-warning" href="{% url "orders-extra-order" o.article.id %}">
                            {% trans "Now" %}
                        </a>
                        {% endif %}
                        {% if state.name == "rejected" %}
                        <button type="button" class="btn btn-danger btn-mini" onclick="delete_order({{ o.id }}, '{{ o.article.name }}');">
                            <i class="icon-remove icon-white"> </i> {% trans "Delete" %}
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}

<div class="row-fluid">
    <div class="span10 centered">
        <a class="btn" href="#top">
            <i class="icon-arrow-up"> </i>
            {% trans "Go to top" %}
            <i class="icon-arrow-up"> </i>
        </a>
    </div>
</div>
{% endblock %}
