{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span6 offset1">
        <form onsubmit="clean();" class="form-horizontal" method="post" action="{% url "orders-add-supplier" %}">
            {% csrf_token %}
            <legend>{% trans "Enter data" %}</legend>
            {% for f in form %}
            <div class="control-group{% if f.errors %} error{% endif %}">
                <label class="control-label" for="{{ f.auto_id }}">
                    {{ f.label }}
                </label>
                <div class="controls">{{ f }}</div>
            </div>
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                <button type="reset" class="btn">{% trans "Cancel" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
function clean() {
    var web = $('#id_web').val();
    if (web == 'http://') {
        $('#id_web').val('');
    }
}

$(document).ready(function() {
    var sname = $('#id_name');
    sname.attr('autocomplete', 'off');
    var options = {
        'source': function(query, process) {
            $.post('{% url "orders-api-find-supp" %}',
                {'_JSON_': JSON.stringify({'supp_name': query})},
                function(res) {
                    return process(res['supps']);
                });
        }
    };
    sname.typeahead(options);
})
</script>

{% endblock %}
