{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<table class="table table-striped dTable">
    <thead>
        <tr>
            <th>{% trans "Article Name" %}</th>
            <th>{% trans "Art. ID" %}</th>
            <th>{% trans "Supplier" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Last Orderer" %}</th>
            <th>{% trans "Last Order" %}</th>
            <th>{% trans "Sums" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
        <tr>
            <td>{{ o.article.name }}</td>
            <td style="text-align:center;">
                <span class="label label-info">{{ o.article.ident }}</span>
            </td>
            <td>{{ o.article.supplier }}</td>
            <td>{{ o.article.quantity }}</td>
            <td style="text-align:right;">
                <span class="tt" title="<strong>{% trans "Sum of all orders" %}</strong><br>{{ o.sums|floatformat:2 }}{{ CURRENCY_SYM }}">
                    {{ o.article.fullprice }}
                </span>
            </td>
            <td>{{ o.userlist|join:", " }}</td>
            <td>
                <span class="tt" title="<strong>{% trans "Ordered" %}</strong><br>{% for d in o.olist %}{{ d|date:"SHORT_DATE_FORMAT" }}{% if not forloop.last %}, {% endif %}{% endfor %}">
                    {{ o.ordered|date:"SHORT_DATE_FORMAT" }}
                </span>
            </td>
            <td>
                <span class="tt" title="{% trans "Orders" %}">
                    <span class="badge">{{ o.olist|length }}</span>
                </span>
                <strong>/</strong>
                <span class="tt" title="{% trans "Count" %}">
                    <span class="badge badge-info">{{ o.counts }}</span>
                </span>
            </td>
            <td>
                <a class="btn btn-mini" href="{% url "orders-order" o.article.id %}">
                    <i class="icon-shopping-cart"> </i> {% trans "ReOrder" %}
                </a>
                {% if perms.orders.extra_order %}
                <a class="btn btn-mini btn-warning" href="{% url "orders-extra-order" o.article.id %}">
                    {% trans "Now" %}
                </a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">{% trans "No orders found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block additional_js %}
<script>
$(document).ready(function() {
  datatable_options['iDisplayLength'] = 25;
  datatable_options['aLengthMenu'] = [[25, 50, 100, -1], [25, 50, 100, "{% trans "All" %}"]];
  var oTable = $('.dTable').dataTable(datatable_options);
});
</script>
{% endblock %}
