{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<h2 class="headline">{% trans "Orders for" %} {{ oday.day|date:"DATE_FORMAT" }}</h2>
<h3 id="sum" style="text-align:center;color:{% if order_sum > 6000 %}red{% else %}green{% endif %};">
{% trans "Sum" %}: {{ order_sum|floatformat:2 }}{{ CURRENCY_SYM }}</h3>
<div id="update_message"></div>
{% if orders %}
<table id="dataTable">
    <thead>
        <tr>
            <th>{% trans "Added" %}</th>
            <th>{% trans "Count" %}</th>
            <th>{% trans "Article" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Supplier" %}</th>
            <th>{% trans "Ordered by" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Edit" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
        <tr>
            <td style="text-align:center;">
                {{ o.added|date:"SHORT_DATE_FORMAT" }}
            </td>
            <td>{% if o.state == 'new' %}
                <input type="hidden" id="id_order_{{ forloop.counter }}" value="{{ o.id }}" />
                <input type="hidden" id="old_{{ forloop.counter }}" value="{{ o.count }}" />
                <input id="count_{{ forloop.counter }}" type="text" value="{{ o.count }}" size="3" />
                {% else %}{{ o.count }}{% endif %}
            </td>
            <td title="Ident Number: {{ o.article.ident }}">
                {{ o.article.name }}</td>
            <td>{{ o.article.quantity }}</td>
            <td style="text-align:right;"
                title="{% trans "Single price" %}: {{ o.article.price|floatformat:2 }}{{ CURRENCY_SYM }}">
                {{ o.sum_price|floatformat:2 }}{{ CURRENCY_SYM }}
            </td>
            <td>{{ o.article.supplier }}</td>
            <td id="users_{{ forloop.counter }}" title="{% trans 'Costs' %}: {{ o.costlist|join:', ' }}">
                {{ o.userlist|join:", " }}
            </td>
            <td title="{{ o.get_state_display }}" style="text-align:center;">
                <img src="{{ o.state_icon }}" alt="{{ o.state }}" />
            </td>
            <td style="text-align:center;">
                {% if o.state == 'new' %}
                <input type="button" value="{% trans "Change" %}"
                    onclick="update_count('{{ forloop.counter }}');" />
                {% endif %}
                {% if o.deleteable %}
                <a href="{% url orders-delete oday.id o.id %}">
                    <img src="{% static "img/delete.png" %}" alt="{% trans "Delete" %}"
                        title="{% trans "Delete" %}"/>
                </a>
                {% endif %}
                {% if o.state != 'new' and not o.deleteable %}
                {% trans "Not possible" %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
$(document).ready(function() {
  var oTable = $('#dataTable').dataTable({
    "bJQueryUI": true,
    "bPaginate": true,
    "oLanguage": {
      "sUrl": "{% static "i18n/de_DE.txt" %}"
    }
  });
});
function update_count(oid) {
    var order_id = $('#id_order_'+oid).val();
    var count = $('#count_'+oid).val();
    var old = $('#old_'+oid).val();
    if (parseInt(old, 10) == parseInt(count, 10)) {
        alert('{{ not_changed }}');
        return false;
    }
    var url = '/orders/api/update_count/'+order_id+'/'+count+'/';
    $.getJSON(url, function(data) {
        $('#update_message').text(data['msg']).toggle('slow');
        $('#users_'+oid).text(data['user']);
        $('#sum').hide();
        setTimeout(function() {
                $('#update_message').text('').toggle('slow');
            }, 5000);
    });
}
</script>

{% else %}
<p>{% trans "No orders found." %}</p>
{% endif %}

{% endblock %}
