{% extends "index.html" %}
{% load i18n %}

{% block content %}
<form method="post" action="{% url orders-order %}"
    onsubmit="return check_costs();">
{% csrf_token %}
{{ form.art_supplier_id }}
<table style="border:1px solid blue;margin:5px auto;">
<tr>
    <th>{{ form.count.label_tag }}:</th>
    <td>{{ form.count }}{{ form.count.errors }}</td>
    <th>{{ form.art_name.label_tag }}:</th>
    <td>{{ form.art_name }}{{ form.art_name.errors }}</td>
    <th>{{ form.art_supplier_name.label_tag }}:</th>
    <td>{{ form.art_supplier_name }}

        {{ form.art_supplier_name.errors }}
    </td>
</tr>
<tr>
    <th>{{ form.art_id.label_tag }}:</th>
    <td>{{ form.art_id }}{{ form.art_id.errors }}</td>
    <th>{{ form.art_q.label_tag }}:</th>
    <td>{{ form.art_q }}{{ form.art_q.errors }}</td>
    <th title="{{ cur_msg }}">{{ form.art_price.label_tag }}:</th>
    <td>{{ form.art_price }}{{ CURRENCY_SYM }}{{ form.art_price.errors }}</td>
</tr>
<tr>
    <th>{{ form.oday.label_tag }}:</th>
    <td>{{ form.oday }}{{ form.oday.errors }}</td>
    <th title="{% trans "Klick to enter message." %}" id="memo_cell">
        {% trans "Memo" %}
    </th>
    <td><span style="display:none;position:absolute;z-index:3;" id="memo_field">
        {{ form.memo }}</span>
    </td>
    <th></th>
    <td></td>
</tr>
<tr>
    <th>{{ form.exam.label_tag }}:</th>
    <td>{{ form.exam }}{{ form.exam.errors }}</td>
    <th>{{ form.repair.label_tag }}:</th>
    <td>{{ form.repair }}{{ form.repair.errors }}</td>
    <th></th>
    <td></td>
</tr>
</table>
<table style="border:1px solid blue;margin:5px auto;">
<tr>
{% for c in costs %}
<td class="rotate" style="height:70px;width:20px;">{{ c }}</td>
{% endfor %}
</tr>
<tr>
{% for c in costs %}
<td><input type="text" name="cost_{{ c.ident }}" maxlength="3" size="3"
    value="0" onkeyup="update_sum()" class="costs" /></td>
{% endfor %}
</tr>
</table>
<div style="margin:5px auto;width:10%;text-align:center;">
<span id="sum" style="font-weight:bold;"></span>
<input type="submit" value="{% trans "Order now" %}" />
</div>
</form>

<script type="text/javascript">
$(function() {
    $.getJSON('{% url orders-api-article article_id %}', function(data) {
        $.each(data, function(key, val) {
            $("#id_" + key).val(val);
        });
    });
});
$(function() {
    $('#id_art_supplier_name').autocomplete({
        minLength: 1,
        source: '{% url orders-api-suppliers %}',
        select: function(event, ui) {
            $('#id_art_supplier_id').val(ui.item.value);
            $('#id_art_supplier_name').val(ui.item.label);
            return false;
            }
        });
});

$('#memo_cell').click(function() {
    $('#memo_field').toggle();
});

function get_sum() {
    var sum = 0;
    $(".costs").each(function(i) {
        sum = sum + parseInt($(this).val(), 10);
    });
    return sum;
}
function update_sum() {
    var sum = get_sum();
    var color = '';
    $('#sum').text(sum);
    if (sum != 100) {
        color = 'red';
    } else {
        color = 'green';
    }
    $('#sum').css({'color': color});
}
function check_costs() {
    var sum = get_sum();
    if (sum != 100) {
        alert('{{ costs_msg }}');
        return false;
    }
    return true;
}
</script>

{% endblock %}

