{% extends "index.html" %}
{% load i18n %}

{% block content %}
<h2 class="headline">{% trans "Generating PDF-Files for" %} {{ oday }}</h2>
<h3 class="headline">{% trans "This may take some time!" %}</h3>

<div id="external"></div>

<div id="internal"></div>

<script type="text/javascript">
function generate_external(ids) {
    var container = {'oday_id': {{ oday.id }}};
    if (ids.length > 0) {
        container['supplier_id'] = ids[0];
        $.post(
            '{% url orders-api-pdf %}',
            {'_JSON_': JSON.stringify(container)},
            function(data) {
                var s = '<p>{% trans "Printout for" %} '+data['supplier']
                    +': <a href="'+data['url']+'">'+data['filename']
                    +' ('+data['size']+' Bytes)</a></p>';
                $('#external').append(s);
            }
        );
        ids.shift();
        setTimeout(function() { generate_external(ids); }, 1000);
    } else {
        setTimeout(function() { generate_internal(); }, 1000);
    }
}

function generate_internal() {
    var container = {'oday_id': {{ oday.id }}};
    $.post(
        '{% url orders-api-pdf %}',
        {'_JSON_': JSON.stringify(container)},
        function(data) {
            $('<hr />').insertAfter('#external');
            var s = '<p>{% trans "Internal printout" %}: '
                +': <a href="'+data['url']+'">'+data['filename']
                +' ('+data['size']+' Bytes)</a></p>';
            $('#internal').append(s);
        }
    );
}

$(document).ready(function() {
    var ids = [{{ ids|join:", " }}];
    generate_external(ids);
});
</script>
{% endblock %}
