{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1">
        <h3>{% trans "Fax printouts" %}</h3>
        <ul>
            {% for s in supplier %}
            <li><strong>{{ s.name }} ({{ s.ocount }} {% trans "Position(s)" %}: {{ s.osum|floatformat:2 }}{{ CURRENCY_SYM }})</strong>
                <button class="btn" type="button" id="but_{{ s.id }}" onclick="generate_external({{ oday.id }}, {{ s.id }});">
                    {% trans "Generate PDF" %}
                </button>
                <span id="pdf_{{ s.id }}" style="display:none;"></span>
            </li>
            {% endfor %}
        </ul>
        <hr />
    </div>
</div>
<div class="row-fluid">
    <div class="span8 offset1">
        <h3>{% trans "Internal printout" %}</h3>
        <button class="btn" type="button" id="but_internal" onclick="generate_internal({{ oday.id }});">
            {% trans "Generate PDF" %}
        </button>
        <span id="pdf_internal" style="display:none;"></span>
    </div>
</div>
<div class="row-fluid">
    <div class="span8 offset1">
        <h3>Folgende Ausdrucke existieren schon</h3>
        <ul>
            {% for p in printouts %}
            <li>
                <a href="{{ p.pdf.url }}" target="_blank">{{ p.company_name }}</a>
                ({{ p.generated|date:"SHORT_DATE_FORMAT" }})
            </li>
            {% empty %}
            <li>Keine vorhanden</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
function generate_external(oday_id, cid) {
    var container = {'oday_id': oday_id, 'supplier_id': cid,
                     'header': '{{ header }}'};
    $('#but_'+cid).attr('disabled', 'disabled');
    $.post(
        '{% url "orders-api-pdf" %}',
        {'_JSON_': JSON.stringify(container)},
        function(data) {
            var s = '<a href="'+data['url']+'" target="_blank">'+data['filename']
                   +' ('+data['size']+' Bytes)</a>';
            $('#pdf_'+cid).append(s).show();
        }
    );
}

function generate_internal(oday_id) {
    var container = {'oday_id': oday_id};
    $('#but_internal').attr('disabled', 'disabled');
    $.post(
        '{% url "orders-api-pdf" %}',
        {'_JSON_': JSON.stringify(container)},
        function(data) {
            $('<hr />').insertAfter('#external');
            var s = '<a href="'+data['url']+'" target="_blank">'+data['filename']
                   +' ('+data['size']+' Bytes)</a>';
            $('#pdf_internal').append(s).show();
        }
    );
}
</script>
{% endblock %}
