{% extends "index.html" %}
{% load i18n %}

{% block content %}
<h2 class="headline">{% trans "Generating PDF-Files for" %} {{ oday }}</h2>
<h3 class="headline">{% trans "This may take some time!" %}</h3>

<div id="external"></div>

<div id="internal"></div>

<script type="text/javascript">
$(document).ready(function() {
    var ids = [{{ ids|join:", " }}];
    var data = {'oday_id': {{ oday.id }}};
    for (var i = 0; i < ids.length; ++i) {
        data['supplier_id'] = ids[i];
        $.post('{% url orders-api-pdf %}', {'_JSON_': JSON.stringify(data)},
            function(data) {
                var s = '<p>{% trans "Printout for" %} '+data['supplier']
                    +': <a href="'+data['url']+'">'+data['filename']
                    +' ('+data['size']+' Bytes)</a></p>';
                $('#external').append(s);
            });
    }
    delete data['supplier_id'];
    $.post('{% url orders-api-pdf %}', {'_JSON_': JSON.stringify(data)},
        function(data) {
            $('<hr />').insertAfter('#external');
            var s = '<p>{% trans "Internal printout" %}: '
                +': <a href="'+data['url']+'">'+data['filename']
                +' ('+data['size']+' Bytes)</a></p>';
            $('#internal').append(s);
        });
});
</script>
{% endblock %}
