{% extends "index.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span5">
        <h3>{% trans "Order old article" %}</h3>
        <form action="{% url "orders-ask" %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="id_article">{% trans "Article" %}</label>
                <div class="controls">
                    <input type="text" id="id_article" name="article" data-provide="typeahead" autocomplete="off">
                    <input type="hidden" id="id_article_id" name="article_id">
                    <p id="article-description"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">{% trans "Next" %}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="span4">
        <h3>{% trans "Order new article" %}</h3>
        <a class="btn" href="{% url "orders-order" %}">{% trans "Next" %}</a>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>
$(function() {
    var options = {
        'source': function(query, process) {
            articles = [];
            map = {};
            return $.ajax({
                'url': '{% url "orders-api-articles" %}',
                'type': 'get',
                'data': {'term': query},
                'dataType': 'json',
                'success': function(data) {
                    $.each(data, function(i, article) {
                        map[article['label']] = article;
                        articles.push(article['label']);
                    });
                    return process(articles);
                }
            });
        },
        'updater': function(item) {
            var obj = map[item];
            $('#article-description').text('');
            $('#article-description').append(obj['desc']);
            $('#id_article_id').val(obj['value']);
            return item;
        }
    };
    $('#id_article').typeahead(options);
})
</script>
{% endblock %}

