{% extends "index.html" %}
{% load i18n %}
{% load ozone_tags %}

{% block content %}
<h2 class="headline">{% trans "Edit Rating" %} - {{ company.name }}</h2>

{% include "beta.html" %}

<h3>{% trans "Add Rating" %}</h3>
<div style="width:50%;border:2px solid green;">
<form action="{% url orders-rate company.id %}" method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
    <th class="opener">{% trans "Help" %}</th>
    <td><input type="submit" value="{% trans "Save" %}" /></td>
</tr>
</table>
</form>
</div>

<h3>{% trans "Rating Summary" %}</h3>
<div style="width:50%;border:2px solid green;">
<form action="{% url orders-rate company.id %}" method="post">
{% csrf_token %}
<input type="hidden" name="rate" value="all" />
<table>
{{ sum_form.as_table }}
<tr>
    <th class="opener">{% trans "Help" %}</th>
    <td><input type="submit" value="{% trans "Save" %}" /></td>
</tr>
</table>
</form>
</div>

<p><a href="{% url orders-rating-summary %}">{% trans "Back" %}</a></p>

<div id="summary">
<ul>
    <li>{% trans "Rater" %}: {{ company.raterlist|join:", " }}</li>
    <li>{% trans "Ratings" %}: {{ company.ratings.count }}: {{ company.whole_ratings }}</li>
    <li>{% trans "Rating" %}: <strong>{{ company.rating }}</strong></li>
    <li>{% trans "Calculated Rating" %}: {{ company.calculated }}</li>
    <li>{% trans "Average Rating" %}: {{ company.average|floatformat:2 }}</li>
    <li>{% trans "Min. Rating" %}: {{ company.min_rating }}</li>
    <li>{% trans "Restriction" %}: {{ company.rating_note|default:"-" }}</li>
    <li>{% trans "Notes" %}
        <ul>
            {% for n in company.rating_notes %}
            <li>{{ n }}</li>
            {% empty %}
            <li>-</li>
            {% endfor %}
        </ul>
    </li>
</ul>
</div>

{% show_help "ratings" %}

{% endblock %}
