{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
.rating { font-weight: bold; }
.A { color: green; }
.B { color: yellow; }
.C { color: red; }
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span4">
        <h3>Benutzer - Lieferanten</h3>
        <hr>
        <ul>
            {% for u in users %}
            <li>Bewerter: {{ u.get_profile }}
                <button type="button" class="btn btn-mini btn-warning" onclick="send_mail([{{ u.id }}]);">
                    <i class="icon-envelope icon-white"></i>
                    Erinnerungsmail senden
                </button>
                 <ul>Lieferanten zum Bewerten:
                    {% for c in u.to_rate %}
                    <li>{{ c.name }} ({% if c.last_rate %}Letzte Bewertung:
                        {{ c.last_rate|date:"SHORT_DATE_FORMAT" }}{% else %}
                        Noch nicht bewertet!{% endif %})
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <hr>
        <button type="button" class="btn btn-warning" onclick="send_mail([{{ uids|join:', ' }}]);">
            <i class="icon-envelope icon-white"></i>
            Erinnerungsmail an alle senden
        </button>
    </div>

    <div class="span4">
        <h3>Bewertungen - Lieferanten</h3>
        <hr>
        <ul>
            {% for c in companies %}
            <li class="rating {{ c.rating }}" title="{{ c.rating_note|default:"-" }}">{{ c.rating }}: {{ c.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="span3 offset1">
        <h3>Alte Bewertungen</h3>
        <hr>
        <ul>
            {% for r in old_ratings %}
            <li><a href="{{ r.pdf.url }}">{{ r.category }} {{ r.generated|date:"Y/m" }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
function send_mail(uids) {
    post_data = {'uids': uids};
    $.post('{% url "orders-api-mail" %}', {'_JSON_': JSON.stringify(post_data)},
        function(ret_data) {
            alert(ret_data['msg']);
        }
    );
}
</script>
{% endblock %}
