{% extends "index.html" %}
{% load i18n %}
{% load ozone_tags %}

{% block content %}
<h2 class="headline">{% trans "Companies to rate" %}</h2>
{% for c in companies %}
<h3 class="company" title="{% trans "Click to rate" %}">
{{ forloop.counter }}) {{ c.name }} ({% trans "Ratings" %}: {{ c.ratings.count }})
</h3>
<div class="ratingform">
{% if c.average %}
{% trans "Average ratings" %}: {{ c.rating }} ({{ c.average|floatformat:1 }})
{% endif %}
<form action="{% url "orders-rating" %}" method="post">
{% csrf_token %}
<input type="hidden" name="company_id" value="{{ c.id }}" />
<table style="border:2px solid green;">
{{ form.as_table }}
<tr>
    <th class="opener">{% trans "Help" %}</th>
    <td><input type="submit" value="{% trans "Save" %}" /></td>
</tr>
</table>
</form>
</div>
<p>{% trans "Raters" %}: {% for u in c.rating_users.all %}{{ u }} {% endfor %}</p>
{% if c.last_ratings %}
<p>{% trans "Your last ratings" %}:
    {% for r in c.last_ratings %}
    <span title="{{ r.note|default:"-" }}" style="background-color:{% cycle "lightblue" "lightcyan" %};">
        {{ r.rated|date:"SHORT_DATE_FORMAT" }}: {{ r.rating }}
    </span>
    {% endfor %}
</p>
{% endif %}
{% endfor %}

<div id="legend">
    <h3>{% trans "Possible Ratings" %}: 0 - 4</h3>
    <ul>
        <li>4 - {% trans "very good" %}</li>
        <li>3 - {% trans "good" %}</li>
        <li>2 - {% trans "average" %}</li>
        <li>1 - {% trans "bad" %}</li>
        <li>0 - {% trans "very bad" %}</li>
    </ul>
</div>

{% show_help "ratings" %}

<script type="text/javascript">
$(function() {
  $(".ratingform").hide();
  $(".company").click(function() {
    $('#legend').toggle('slow');
    $(this).next(".ratingform").slideToggle("slow");
    return true;
  });
});
</script>
{% endblock %}
