{% extends "index.html" %}
{% load i18n %}
{% load ozone_tags %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        {% if not companies %}
        <h3>Sie sind für keinen Lieferanten als Bewerter eingetragen.</h3>
        {% endif %}
        <button type="button" class="btn btn-info" id="info-rating">
            <i class="icon-info-sign icon-white"></i> Info
        </button>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Lieferant</th>
                    <th>Anzahl Bewertungen</th>
                    <th>Letzte Bewertungen</th>
                    <th>&#216; - Bewertungen</th>
                    <th>Bewerter</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for c in companies %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ c.name }}</td>
                    <td style="text-align:center;">{{ c.ratings.count }}</td>
                    <td><small>{% for r in c.last_ratings %}
                        <span class="tt" title="{{ r.note|default:'-' }}" style="background-color:{% cycle 'lightblue' 'lightcyan' %};">
                            {{ r.rated|date:'SHORT_DATE_FORMAT' }}: {{ r.rating }}
                        </span>
                        {% empty %}-{% endfor %}</small>
                    </td>
                    <td style="text-align:center;">{% if c.average %}
                        {{ c.rating }} ({{ c.average|floatformat:1 }})
                        {% else %}-{% endif %}
                    </td>
                    <td>{{ c.rating_users.all|join:' ' }}</td>
                    <td><button type="button" class="btn btn-mini btn-warning"
                        onclick="rate_now('{% url 'orders-rate-form' c.id %}');">
                            <i class="icon-pencil icon-white"></i> Jetzt bewerten
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% show_help "ratings" %}
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
$(function() {
  $("#info-rating").click(function() {
    $('#help-dialog-ratings').modal({'show': true});
  });
});
function rate_now(url) {
    $.get(url, function(res) {
        $('body').append(res);
        $('#rate-form-dlg').modal({'show': true});
    });
}
function save_rating() {
    var f = $('#rate-form').serializeArray();
    var pdata = {};
    $.each(f, function() {
        pdata[this.name] = this.value;
    });
    $.post("{% url 'orders-rating-save' %}", {'_JSON_': JSON.stringify(pdata)},
        function(res) {
            $('#rate-form-dlg').modal('hide').remove();
            location.reload();
            add_update_message(res['msg']);
        }
    );
    return false;
}
</script>
{% endblock %}
