{% extends "index.html" %}

{% block styles %}
.rating {
    display: block;
    text-align: center;
    font-weight: bold;
}
.A { background-color: lime; }
.B { background-color: yellow; }
.C { background-color: red; }
{% endblock %}

{% block content %}
{% if perms.core.summarize %}
<div class="row-fluid">
    <div class="span10" id="pdf_printout">
        <button type="button" class="btn btn-primary" onclick="rating_pdf();">
            Ausdruck generieren
        </button>
    </div>
</div>
{% endif %}

<table class="table table-striped dataTable">
    <thead>
        <tr>
            <th>Lieferant</th>
            <th>Bewerter</th>
            <th>Aktuelle Bewertung</th>
            <th>Berechnet</th>
            <th>&#216; - Bewertungen</th>
            <th>Mindestbewertung</th>
            <th>Einschränkungen</th>
            <th>Bemerkungen</th>
        </tr>
    </thead>
    <tbody>
        {% for c in companies %}
        <tr>
            <td>
                <a class="tt" href="{% url 'orders-rate' c.id %}"
                    title="Jetzt bearbeiten: {{ c.short_name }}">
                    {{ c.name }}
                </a>
            </td>
            <td>{{ c.raterlist|join:", " }}</td>
            <td>
                <span class="infos" data-title="Alle Bewertungen"
                    data-content="{{ c.whole_ratings }}">
                    <span class="rating {{ c.rating }}">
                        {{ c.rating }} ({{ c.ratings.count }})
                    </span>
                </span>
            </td>
            <td style="text-align:center;">
                {% if perms.core.summarize %}
                <a href="#" onclick="take_rating({{ c.id }}, '{{ c.calculated }}');" class="tt" title="Hier klicken, um berechnete Bewertung als Gesamtbewertung zu übernehmen.">
                    {{ c.calculated }}
                </a>
                {% else %}
                {{ c.calculated }}
                {% endif %}
            </td>
            <td style="text-align:center;">{{ c.average|floatformat:2 }}</td>
            <td style="text-align:center;">{{ c.min_rating }}</td>
            <td><small>{{ c.rating_note }}</small></td>
            <td><small>{{ c.rating_notes|join:"<br>" }}</small></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block additional_js %}
<script>
$(function() {
    $('.infos').each(function() {
        var el = $(this);
        el.popover({
            'placement': 'left',
            'trigger': 'hover'
        });
    });
});
function rating_pdf() {
    $.post('{% url "orders-pdf-rating-printout" %}', function(res) {
        var but = '<a class="btn btn-success" href="'+res['url']+'">'
                 +res['filename']+' ('+res['size']+' Bytes)</a>';
        $('#pdf_printout').append(but);
    });
}
function take_rating(cid, rating) {
    var post_data = {'company_id': parseInt(cid), 'rating': rating};
    $.post('{% url "orders-api-takerating" %}',
        {'_JSON_': JSON.stringify(post_data)},
        function(data) {
            add_update_message(data['msg']);
        });
    return false;
}
</script>
{% endblock %}

