{% extends "index.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1">
        <div class="well well-large">
            <h3>Bitte eine Zeitspanne wählen</h3>
            <form action="" method="post" class="form-inline">
                {% csrf_token %}
                Von
                <div class="datetimepicker input-append date">
                    <input class="input-small" data-format="dd.MM.yyyy" type="text" name="start">
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
                    </span>
                </div>
                bis
                <div class="datetimepicker input-append date">
                    <input class="input-small" data-format="dd.MM.yyyy" type="text" name="end">
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
                    </span>
                </div> 
                <button type="submit" class="btn">Anzeigen</button>
            </form>
        </div>
    </div>
</div>
<hr />
{% if costs %}
<div class="row-fluid">
    <div class="span8 offset1">
        <table class="table table-striped" id="dt">
            <thead>
                <tr>
                    <th>Nummer</th>
                    <th>Kürzel</th>
                    <th>Summe (gewichtet)</th>
                    <th>% von Gesamt</th>
                    <th>Bestellungen</th>
                </tr>
            </thead>
            <tbody>
                {% for cost, sums in costs %}
                <tr>
                    <td>{{ cost.1 }}</td>
                    <td>{{ cost.0 }}</td>
                    <td style="text-align:center;">{{ sums.0|floatformat:2 }} {{ CURRENCY_SYM }}</td>
                    <td style="text-align:center;">{{ sums.2|floatformat:1 }} %</td>
                    <td style="text-align:center;">{{ sums.1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Gesamt: {{ whole|floatformat:2 }} {{ CURRENCY_SYM }}, davon
            Chemikalien: {{ chem|floatformat:2 }} {{ CURRENCY_SYM }}.
        </h3>
    </div>
</div>
{% endif %}
{% endblock %}

{% block additional_js %}
<script>
$(function() {
    $('.datetimepicker').each(function() {
        var dtp = $(this);
        dtp.datetimepicker({
            'language': 'de',
            'pickTime': false,
            'weekStart': 1
        });
    });
    datatable_options['bPaginate'] = false;
    $('#dt').dataTable(datatable_options);
});
</script>
{% endblock %}

