{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<h2 class="headline">{% trans "Presence" %} - {{ student }}</h2>
<h2 class="headline">
  {{ start|date:"DATE_FORMAT" }} - {{ end|date:"DATE_FORMAT" }}
</h2>

<div style="margin:5px auto;text-align:center;width:75%;">
<table id="dataTable">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Presence" %}</th>
            <th>{% trans "Lateness" %}</th>
            <th>{% trans "Note" %}</th>
            <th>{% trans "Last change by" %}</th>
            <th>{% trans "State" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for d in days %}
        <form>
        <tr>
            <td>{{ d.date|date:"SHORT_DATE_FORMAT" }}</td>
            <td>
                <select id="presence_{{ d.id }}" size="1" onchange="update_day({{ d.id }});">
                {% for s, l in choices %}<option value="{{ s }}"{% if s == d.entry %} selected="selected"{% endif %}>{{ s }} ({{ l }})</option>{% endfor %}
                </select>
            </td>
            <td>
                <input style="text-align:right;{% if d.lateness %}border:1px solid red;{% endif %}" type="text" size="2" maxlength="3"
                    id="lateness_{{ d.id }}" onchange="update_day({{ d.id }});" {% if d.lateness %}value="{{ d.lateness }}" {% endif %}/>
            </td>
            <td><input type="text" size="25" maxlength="25" id="note_{{ d.id }}" value="{{ d.note }}" onchange="update_day({{ d.id }});" /></td>
            <td id="instructor_{{ d.id }}">{{ d.instructor.get_profile|default:"-" }}</td>
            <td style="color:green;font-weight:bold;" id="state_{{ d.id }}"></td>
        </tr>
        </form>
        {% endfor %}
    </tbody>
</table>
</form>
<form action="{% url core.views.presence_for_group student.group.id %}" method="post">
{% csrf_token %}
<input type="hidden" name="start" value="{{ start|date:"d.m.Y" }}" />
<input type="hidden" name="end" value="{{ end|date:"d.m.Y" }}" />
<input type="submit" value="{% trans "Back" %}" />
</form>
</div>

<script>
$(document).ready(function() {
  var oTable = $('#dataTable').dataTable({
    "bJQueryUI": true,
    "bPaginate": false,
    "oLanguage": {
      "sUrl": "{% static "i18n/de_DE.txt" %}"
    }
  });
  $('a[title]').qtip();
});

function update_day(did) {
    var entry = $('#presence_'+did+' :selected').val();
    var late = $('#lateness_'+did).val();
    var note = $('#note_'+did).val();
    json_data = {'day_id': did, 'entry': entry, 'lateness': parseInt(late),
                 'note': note};
    $.post('{% url core-api-presence-update-day %}',
        {'_JSON_': JSON.stringify(json_data)},
        function(ret_data) {
            $('#instructor_'+did).text(ret_data['instructor']);
            if (ret_data['updated'] == true) {
                if (parseInt(late) > 0) {
                    $('#lateness_'+did).css('border', '1px solid red');
                } else {
                    $('#lateness_'+did).css('border', '');
                }
                $('#state_'+did).text('{% trans "Saved" %}');
                setTimeout(function() {
                    $('#state_'+did).text('');
                }, 2000);
            }
        });
}
</script>
{% endblock %}
