{% extends 'index.html' %}

{% block content %}
<div class="row-fluid">
    <div class="span10 centered">
        <h2>{{ group }}</h2>
        <h3>{{ ts|date:"F Y" }}</h3>
    </div>
</div>

<div class="row-fluid">
    {% if not show %}
    <div class="span8 offset1">
        <form action="" method="post" class="form-horizontal">
            <legend>Einstellungen</legend>
            {% csrf_token %}
            {% for f in form %}
            <div class="control-group">
                <label class="control-label" for="{{ f.auto_id }}">{{ f.label }}</label>
                <div class="controls">{{ f }}</div>
            </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Anwenden</button>
                </div>
            </div>
        </form>
    </div>

    {% else %}

    <div class="span10 centered">
        <p><strong>Ausbilder:</strong> {{ instructor.userprofile }},
            <strong>Kurs:</strong> {{ course }},
            <strong>Schultag(e):</strong> {{ school_days|join:', ' }},
            <strong>Info:</strong> Förderung wird{% if not incl_sup %} <strong>nicht</strong>{% endif %} aufgedruckt.
        </p>
    </div>
    {% endif %}
</div>

{% if show %}
<div class="row-fluid">
    <div class="span8 offset1">
        <div style="width:400px;">
            <div class="progress progress-striped" id="pbar">
                <div class="bar" style="width:0%"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row-fluid">
    <div class="span8 offset1">
        <h3>Firmen</h3>
        <ul>
            {% for c in companies %}
            <li><strong>{{ c.name }}</strong> - {{ c.group_count }} Azubi(s)
                {% if show and perms.core.add_presenceprintout %}
                <button class="btn btn-primary btn-mini" id="but_{{ c.id }}" type="button" onclick="generate_company({{ c.id }});">
                    Ausdruck generieren
                </button>
                {% endif %}
                <span style="display:none;" id="res_{{ c.id }}"></span>
                {% if c.currents %}
                <ul>Vorhandene Ausdrucke
                    {% for cur in c.currents %}
                    <li><a href="{{ cur.pdf.url }}" class="btn btn-info btn-mini">{{ cur.pdf.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
            <li><strong>Alle</strong>
                {% if show %}
                <button class="btn btn-primary btn-mini" id="but_all" type="button" onclick="generate_all();">
                    Ausdruck generieren
                </button>
                {% endif %}
                <span style="display:none;" id="res_all"></span>
            </li>
        </ul>
        <a class="btn btn-info" href="{% url 'core-presence' %}">Zurück zur Übersicht</a>
    </div>
</div>

{% endblock %}

{% block additional_js %}
{% if show %}
<script type="text/javascript">
function start_bar() {
    var pbar = $('#pbar');
    var bar = $('.bar');
    bar.width(0);
    pbar.addClass('active');
    var progress = setInterval(function() {
        var width = bar.width();
        if (width < 360) {
            bar.width(width+40);
        }
        bar.text(width/4 + '%');
    }, 1000);
    return progress;
}

function stop_bar(progress) {
    var pbar = $('#pbar');
    var bar = $('.bar');
    clearInterval(progress);
    bar.width(400);
    bar.text('100%');
    setTimeout(function() {
        pbar.removeClass('active');
    }, 1000);
}

function generate_company(cid) {
    var progress = start_bar();
    $('#but_'+cid).attr('disabled', 'disabled');
    var uid = {{ instructor.id }};
    var gid = {{ group.id }};
    var course = '{{ course }}';
    var incl_sup = {% if incl_sup %}true{% else %}false{% endif %};
    var sdays = ['{{ school_days|join:"', '" }}'];
    var year = {{ year }};
    var month = {{ month }};
    dat = {'cid': cid, 'uid': uid, 'gid': gid, 'course': course,
        'sdays': sdays, 'year': year, 'month': month, 'incl_sup': incl_sup};
    $.post('{% url "core-api-pdf-presence" %}', {'_JSON_': JSON.stringify(dat)},
        function(res_data) {
            link = '<a class="btn btn-info btn-mini" target="_blank" href="'+res_data['url']+'">'+res_data['name']+'</a>';
            $('#res_'+cid).append(link).show();
            stop_bar(progress);
        }
    );
}

function generate_all() {
    $('#but_all').attr('disabled', 'disabled');
    var progress = start_bar();
    var uid = {{ instructor.id }};
    var gid = {{ group.id }};
    var course = '{{ course }}';
    var incl_sup = {% if incl_sup %}true{% else %}false{% endif %};
    var sdays = ['{{ school_days|join:"', '" }}'];
    var year = {{ year }};
    var month = {{ month }};
    dat = {'uid': uid, 'gid': gid, 'course': course, 'cid': 0,
        'sdays': sdays, 'year': year, 'month': month, 'incl_sup': incl_sup};
    $.post('{% url "core-api-pdf-presence-all" %}',
        {'_JSON_': JSON.stringify(dat)},
        function(res_data) {
            link1 = '<a class="btn btn-info btn-mini" target="_blank" href="'+res_data['url']+'">'+res_data['name']+'</a>';
            link2 = '<a class="btn btn-info btn-mini" target="_blank" href="'+res_data['surl']+'">Einzeln: '+res_data['sname']+'</a>';
            $('#res_all').append(link1).append(link2).show();
            stop_bar(progress);
        }
    );
}
</script>
{% endif %}

{% endblock %}
