{% extends "index.html" %}
{% load i18n %}

{% block content %}
<h2 class="headline">{{ group }}</h2>
<h2 class="headline">{{ ts|date:"F Y" }}</h2>
<div style="text-align:center;">
{% if not show %}
<style type="text/css">
th {
    text-align:right;
}
td {
    text-align:left;
}
</style>
<form action="" method="post">
{% csrf_token %}
<table style="border:1px solid blue;margin:5px auto;">
{{ form.as_table }}
<tr>
    <td></td>
    <td><input type="submit" value="{% trans "Apply" %}" /></td>
</tr>
</table>
</form>
{% else %}
<p><strong>{% trans "Instructor" %}:</strong> {{ instructor.get_profile }},
    <strong>{% trans "Course" %}:</strong> {{ course }},
    <strong>{% trans "School days" %}:</strong> {{ school_days|join:", " }}
</p>
{% endif %}
</div>
<h3>{% trans "Companies" %}</h3>
<ul>
{% for c in companies %}
<li><strong>{{ c.name }}</strong> - {{ c.group_count }} {% trans "Student(s)" %}
    {% if show and perms.core.add_presenceprintout %}<input id="but_{{ c.id }}" type="button" value="{% trans "Generate Printout" %}" onclick="generate_company({{ c.id }});" />{% endif %}
    <span style="display:none;" id="res_{{ c.id }}"></span>
    {% if c.currents %}<ul>{% trans "Generated printouts" %}
        {% for cur in c.currents %}
        <li><a href="{{ cur.pdf.url }}">{{ cur.pdf.name }}</a></li>
        {% endfor %}</ul>
    {% endif %}
</li>
{% endfor %}
</ul>

{% if show %}
<script type="text/javascript">
function generate_company(cid) {
    var uid = {{ instructor.id }};
    var gid = {{ group.id }};
    var course = '{{ course }}';
    var incl_sup = {% if incl_sup %}true{% else %}false{% endif %};
    var sdays = ['{{ school_days|join:"', '" }}'];
    var year = {{ year }};
    var month = {{ month }};
    dat = {'cid': cid, 'uid': uid, 'gid': gid, 'course': course,
        'sdays': sdays, 'year': year, 'month': month, 'incl_sup': incl_sup};
    $.post('{% url core-api-pdf-presence %}', {'_JSON_': JSON.stringify(dat)},
        function(res_data) {
            link = '<a href="'+res_data['url']+'">'+res_data['name']+'</a>';
            $('#res_'+cid).append(link).show();
            $('#but_'+cid).attr('disabled', 'disabled');
        }
    );
}
</script>
{% endif %}

{% endblock %}
