{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<h2 class="headline">{{ group }}</h2>
<h2 class="headline">
  {{ start|date:"DATE_FORMAT" }} - {{ end|date:"DATE_FORMAT" }}
</h2>
<div style="text-align:center;">
<p><a href="{% url core-pdf-presence-clean group.id end.year end.month %}">
    {% trans "Print empty page for" %} {{ end|date:"F Y" }}</a>
<a href="{% url core-pdf-presence group.id end.year end.month %}">
    {% trans "Print filled page for" %} {{ end|date:"F Y" }}</a>
</p>
</div>

<p>{% trans "Set presence for all" %}:
    <select size="1" id="p_all_day">
        {% for d in days %}<option value="{{ d|date:"Y-m-d" }}"{% if d == today %} selected="selected"{% endif %}>{{ d|date:"d.m." }}</option>{% endfor %}
    </select>
    <select id="p_all" size="1">
        {% for e in choices %}<option value="{{ e }}"{% if e == "*" %} selected="selected"{% endif %}>{{ e }}</option>{% endfor %}
    </select>
    <input type="button" value="{% trans "Set now" %}" onclick="update_all();" />
</p>

<table id="dataTable">
  <thead>
    <tr>
      <th>{% trans "Company" %}</th>
      <th>{% trans "Lastname" %}</th>
      <th>{% trans "Firstname" %}</th>
      {% for d in days %}
      <th>{{ d|date:"D d" }}</th>
      {% endfor %}
      <th>{% trans "Lastname" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for s, ds in students %}
    <tr>
      <td>{{ s.company.short_name|default:s.company.name }}</td>
      <td><a href="{% url core-presence-edit s.id %}" title="{% trans "Click here to enter notes." %}">{{ s.lastname }}</a></td>
      <td>{{ s.firstname }}</td>
      {% for d in ds %}
      <td>
          <select id="p_{{ d.id }}"  class="{{ d.date|date:"Y-m-d" }}" title="{{ d.get_entry_display }}" name="presence" size="1" onchange="update_day({{ d.id }});">
          {% for e in choices %}<option value="{{ e }}"{% if e == d.entry %} selected="selected"{% endif %}>{{ e }}</option>{% endfor %}
          </select><br />
          <input id="l_{{ d.id }}" type="text" size="2" maxlength="3"{% if d.lateness %} style="border:1px solid red;"{% endif %} name="lateness" value="{% if d.lateness %}{{ d.lateness }}{% endif %}" onchange="lateness_changed({{ d.id }});" title="{% trans "Enter lateness here." %}" />
      </td>
      {% endfor %}
      <td>{{ s.lastname }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div id="upd_messages">
<h3>{% trans "Changes" %}</h3>
<ul>
</ul>
</div>

<table style="margin:5px auto;">
    <tr>
    {% for sym, txt in legend %}
        <td>{% if forloop.first %}<small>{% trans "Legend" %}:</small>{% endif %}</td>
        <td style="width:15px;"></td>
        <td><small>{{ sym }} = {{ txt }}</small></td>
    {% cycle '' '' '' '</tr><tr>' %}
    {% endfor %}
</table>

<div id="dialog-confirm" title="{% trans "Update for all" %}">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        <span id="confirmtext"></span>
    </p>
</div>

<script>
$(document).ready(function() {
  $(document).tooltip();
  var oTable = $('#dataTable').dataTable({
    "bJQueryUI": true,
    "bPaginate": false,
    "sScrollX": "10%",
    "oLanguage": {
      "sUrl": "{% static "i18n/de_DE.txt" %}"
    }
  });
});

function update_day(did) {
    var day_id = did;
    var lateness = $('#l_'+did).val();
    var presence = $('#p_'+did+' :selected').val();
    var json_data = {'day_id': day_id, 'lateness': parseInt(lateness),
                     'presence': presence};
    $.post('{% url core-api-presence-update %}',
        {'_JSON_': JSON.stringify(json_data)},
        function(ret_data) {
            $('#upd_messages').show('slow');
            $('#upd_messages > ul').prepend('<li>'+ret_data['msg']+'</li>');
            if (parseInt(lateness) > 0) {
                $('#l_'+did).css('border', '1px solid red');
            } else {
                $('#l_'+did).css('border', '');
            }
        });
}

function update_all() {
    var date = $('#p_all_day :selected').val();
    var entry = $('#p_all :selected').val();
    $('select.'+date).each(function(index) {
        $(this).val(entry);
        $(this).change();
    });
}

function lateness_changed(did) {
    $('#p_'+did+'').val('*').attr('selected', 'selected');
    update_day(did);
}
</script>
{% endblock %}
