{% extends "index.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1 centered">
        {% trans "Job" %}:{% for j in jobs %}
        <a class="btn btn-mini btn-info" href="{% url "core-presence-printouts" j %}">{{ j }}</a>
        {% endfor %}
    </div>
</div>
<div class="row-fluid">
    <div class="span8 offset1 centered">
        {% trans "Group" %}:{% for g in groups %}
        <a class="btn btn-mini btn-info" href="#{{ g }}">{{ g }}</a>
        {% endfor %}
    </div>
</div>


{% for g in groups %}
<div class="row-fluid">
    <div class="span8 offset1">
        <a id="{{ g }}"><h3>{{ g }}</h3></a>
        <ul>
            {% for p in g.presence_printouts.all %}
            <li><a href="{{ p.pdf.url }}">{{ p.date|date:"F Y" }} ({{ p.company.name }})</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}

{% endblock %}
