{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div style="text-align:center;">
    <p>{% trans "The first call of a list can take some time!" %}</p>
    <p>{% for j in jobs %}<a href="#{{ j }}">{{ j }}</a>{% if not forloop.last %} | {% endif %}{% endfor %}</p>
</div>

{% for n, gr in groups %}
<h3 style="margin-top:50px;">
    <a id="{{ n }}">{{ n }}</a> (<a href="{% url core-presence-printouts n %}">{% trans "Old lists" %}</a>)
</h3>
<table class="dataTable">
  <thead>
    <tr>
        <th>{% trans "Group" %}</th>
        <th>{% trans "Show list by date" %}</th>
        <th>{% trans "Finished lists / Information" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for g in gr %}
    <tr>
        <td><strong>{{ g }}</strong></td>
        <td>
          <form action="{% url core-presence-group g.id %}" method="post" onsubmit="return disable_btn('btn_{{ forloop.counter }}');">
            {% csrf_token %}
            {% trans "From" %} <input type="text" class="dateWidget" name="start" size="10" />
            {% trans "to" %} <input type="text" class="dateWidget" name="end" size="10" />
            <input type="submit" id="btn_{{ forloop.counter }}" value="{% trans "Show" %}" />
          </form>
        </td>
        <td>
            {% if g.pdfs %}
            {% for p in g.pdfs %}<a href="{{ p.pdf.url }}">{{ p.date.month }}-{{ p.company.short_name }}</a> {% endfor %}
            / {% endif %}{% trans "Presence days for month" %} {{ month }}: {{ g.pdays }}
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% empty %}
<h3>{% trans "No groups found." %}</h3>
{% endfor %}

<script>
$(document).ready(function() {
  $('.dateWidget').datepicker({
    'dateFormat': 'dd.mm.yy',
    'dayNamesMin': ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
    'monthNames': ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni',
                   'Juli', 'August', 'September', 'Oktober', 'November',
                   'Dezember'],
    'showWeek': true,
    'firstDay': 1,
    'weekHeader': 'Wo',
    'nextText': '{% trans "next" %}',
    'prevText': '{% trans "prev" %}'
  });
  var oTable = $('.dataTable').dataTable({
    "bJQueryUI": true,
    "bPaginate": false,
    "oLanguage": {
      "sUrl": "{% static "i18n/de_DE.txt" %}"
    },
    "bAutoWidth": false,
    "aoColumns": [
        {"sWidth": "200px"},
        {"sWidth": "300px"},
        null
    ]
  });
});

function disable_btn(btn_id) {
    $('#'+btn_id).attr('disabled', 'disabled');
    return true;
}
</script>

{% endblock %}
