body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    /*background-color: #c0c0c0;*/
    background-image: url("img/background.jpg");
    color: #000080;
}

header {
    height: 100px;
    text-align: center;
}

#show_user {
    position: fixed;
    overflow: auto;
    left: 5px;
    top: 5px;
    padding: 2px;
    width: 360px;
    text-align: center;
    border: 1px solid #000080;
    background-color: #ffff99;
    color: #000000;
}

header h1 {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 45px;
    color: #000080;
}

nav#topnav {
    clear: left;
    height: 25px;
    margin-bottom: 5px;
    font-size: 16px;
}

a.top:link, a.top:visited, a.top:hover, a.top:active {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    display: block;
    background-color: #a9a9a9;
    color: #000080;
    font-weight: bold;
    text-decoration: none;
}

a.top:hover { background-color: #228b22; }

#messages {
    width: 100%;
    padding-left: 35px;
    margin: 5px;
    font-weight: bold;
}

.info { color: #000080; }
.success { color: #228b22; }
.warning { color: #ffa500; }
.error { color: #8b0000; }

footer {
    margin: 5px auto;
    font-size: 9px;
    text-align: center;
}

aside {
    width: 15%;
    float: left;
    line-height: 18px;
    margin-bottom: 15px;
}

a.menu:link, a.menu:visited, a.menu:hover, a.menu:active {
    font-weight: bold;
    text-decoration: none;
    color: #000080;
}

aside a.menu:hover { color: #228b22; }

#accordion_menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: circle;
}

article {
    width: 80%;
    float: right;
    margin-bottom: 15px;
}

small {
    font-size: 10px;
}

.headline {
    text-align: center;
}

.menutitle {
    font-weight: bold;
    font-size: 14px;
}

.news {
    margin: 5px auto;
    padding: 5px;
    width: 90%;
    background-color: #d3d3d3;
    border-left: 1px solid #228b22;
    border-bottom: 1px solid #228b22;
}

.rotate {
    font-weight: bold;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

#update_message {
    display: none;
    width: 50%;
    margin: 15px auto;
    background: green;
    padding: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
}

#upd_messages {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 450px;
    height: 250px;
    z-index: 3;
    overflow-y: scroll;
    background-color: black;
    color: green;
    border: 2px solid green;
    padding:0px 5px;
}
