{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1">
        <div class="alert alert-error">
            <h2>403 - {% trans "Permission denied" %}</h2>
            <img src="{% static "img/zugriff_verweigert.png" %}" />
            <p>{% blocktrans %}Please contact the administrator if you have to access
                the requested site.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}
