{% extends "base.html" %}
{% load i18n %}

{% block head %}{% endblock %}

{% block body %}

{% block header %}
<header>
  <img src="{{ LOGO_URL }}" alt="Logo" style="float:right;width:150px;" />
  <h1>{{ page_title }}</h1>
</header>
<nav id="topnav">
  <a class="top" href="/">{% trans "Home" %}</a>
  <a class="top" href="/orders/">{% trans "Ordersystem" %}</a>
</nav>
<hr style="clear:both;" />
{% endblock %}

{% if user.is_authenticated %}
<div id="show_user">{% trans "Logged in as" %} {{ userprofile }}</div>
{% endif %}

{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p{% if msg.tags %} class="{{ msg.tags }}"{% endif %}>&raquo; {{ msg }}</p>
  {% endfor %}
</div>
<hr />
{% endif %}

<aside>
  {% block menu %}{% endblock %}
</aside>

<article>
  {% block content %}{% endblock %}
</article>

{% block footer %}
<hr style="clear:both;" />
<footer>
<p>Copyright 2011 by Thorsten Weimann</p>
</footer>
{% endblock %}

{% endblock %}

