{% load staticfiles %}

<address>
    {{ s.street|default:'-' }}<br>
    {{ s.zip_code }} {{ s.city|default:'-' }}<br>
    {{ s.country|default:'-' }}<br>
    <abbr title="Festnetz Telefon">T:</abbr> {{ s.phone|default:'-' }}<br>
    <abbr title="Mobil">M:</abbr> {{ s.mobile|default:'-' }}
</address>

<table class="table">
    <tr>
        <td>
            <ul>
                <li>Gruppe: {{ s.group.name|default:'-' }}</li>
                <li>Firma:
                    {% if s.company %}
                    <a href="{% url 'core-company-detail' s.company.id %}">
                    {{ s.company }}</a>
                    {% else %}-{% endif %}
                </li>
                <li><strong>Im Notfall zu benachrichtigen:</strong> {{ s.emergency }}</li>
                <li>Geburtstag: {{ s.birthdate|date:'DATE_FORMAT'|default:'-' }}
                    ({{ s.age }} Jahre alt)</li>
                <li>Email:
                    {% if s.email %}<a href="mailto:{{ s.email }}">{{ s.email }}</a>{% else %}-{% endif %}
                </li>
                {% if s.presence_days %}
                <li><a class="tt" href="{% url 'core-presence-edit' s.id %}" title="Klicken Sie hier, um Anwesenheiten zu bearbeiten.">
                    Anwesenheit</a>
                    (<a href="{% url 'core-presence-overview' s.id %}">Übersicht</a>)
                    <ul>
                        <li>Alle gespeicherten Anwesenheitstage: {{ s.p_all }}
                            (inkl. Urlaub)
                        <li>Fehltage gesamt: {{ s.p_all_days }}
                            [{{ s.p_all_days_percent|floatformat:1 }}%]
                            (Anwesenheitsliste: T, F, K, |)
                        </li>
                        <li>Urlaub: {{ s.p_holiday }} (Anwesenheitsliste: U)</li>
                        <li>Krankheitstage: {{ s.p_ill }}
                            [{{ s.p_ill_percent|floatformat:1 }}%]
                            (Anwesenheitsliste: K)
                        </li>
                        <li><em>Nicht entschuldigt</em>: {{ s.p_not_excused }}
                            (Anwesenheitsliste: |)
                        </li>
                        <li>Verspätungen: {% if s.p_lateness_count %}
                            <span class="tt" title="{{ s.p_latenesses|join:', ' }}">
                                {{ s.p_lateness_count }}
                            </span>
                            ({{ s.p_lateness_sum }} Minuten)
                            {% else %}0{% endif %}
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>Keine Anwesenheiten gefunden für {{ s }}</li>
                {% endif %}
                {% if s.cabinet or s.key %}
                <li>Sonstiges
                    <ul>
                        <li>Spind: {{ s.cabinet|default:'-' }}</li>
                        <li>Schlüssel: {{ s.key|default:'-' }}</li>
                    </ul>
                </li>
                {% endif %}
                {% if s.test_date %}
                <li>Einstellungstest: {{ s.test_date|date:'DATE_FORMAT' }},
                    {{ s.test_result }} Punkte</li>
                {% endif %}
                {% if s.exam_1 %}
                <li>Abschlussprüfung Teil 1: {{ s.exam_1 }} Punkte</li>
                {% endif %}
                {% if s.exam_2 %}
                <li>Abschlussprüfung Teil 2: {{ s.exam_2 }} Punkte</li>
                {% endif %}
                {% if s.exam_1 and s.exam_2 %}
                <li>Gesamtnote: {{ s.final_grade }} Punkte</li>
                {% endif %}
            </ul>
        </td>
        <td style="text-align:center;">
            <figure>
                {% if s.picture %}
                <img class="img-polaroid" src="{{ s.picture.url }}" alt="Passbild" width="100">
                <figcaption>{{ s.lastname }}, {{ s.firstname }}</figcaption>
                {% else %}
                <img class="img-polaroid" src="{% static 'img/mustermann.jpg' %}" width="100">
                <figcaption>Kein Bild vorhanden.</figcaption>
                {% endif %}
          </figure>
        </td>
    </tr>
</table>
