{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<h2 class="headline">{% trans "Overview" %}</h2>
<div style="width:100%;text-align:center;">
  {% if perms.core.add_studentgroup %}
  <a href="/admin/core/studentgroup/add/">{% trans "Add Group" %}</a>
  {% endif %}
</div>

{% for g in groups %}
<h3>{{ forloop.counter }}. <a title="{% trans "Click for details." %}"
    href="{% url core-group-details g.id %}">{{ g.name }}</a>
  {% blocktrans count counter=g.students.count %}({{ counter }} Student){% plural %}({{ counter }} Students){% endblocktrans %}
  {% if perms.core.change_studentgroup %}
  <a href="/admin/core/studentgroup/{{ g.id }}/">
    <img src="{% static "img/edit.png" %}" title="{% trans "Edit" %}" /></a>
  {% endif %}
</h3>
{% empty %}
<h3>{% trans "No groups found." %}</h3>
{% endfor %}

{% endblock %}

