{% extends "index.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
{% if perms.core.add_studentgroup and not archive %}
<div class="row-fluid">
    <div class="span10 centered">
        <a class="btn btn-success" href="{% url "admin:core_studentgroup_add" %}">{% trans "Add Group" %}</a>
    </div>
</div>
<br>
{% endif %}

<div class="row-fluid">
    <table class="dataTable table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Job" %}</th>
                <th>{% trans "Begin" %}</th>
                <th>{% trans "Students" %}</th>
                <th>{% trans "School Num." %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for g in groups %}
            <tr>
                <td>
                    <a class="tt" title="{% trans "Click for details." %}" href="{% url "core-group-details" g.id %}">{{ g.name }}</a>
                </td>
                <td>{{ g.job }} ({{ g.job_short }})</td>
                <td style="text-align:center;">
                    {{ g.start_date|date:"D" }}, <time>{{ g.start_date|date:"SHORT_DATE_FORMAT" }}</time>
                </td>
                <td style="text-align:center;">{{ g.students.count }}</td>
                <td style="text-align:center;">{{ g.school_nr }}</td>
                <td style="text-align:center;">
                    <a class="tt" title="{% trans "Export names to excel" %}" href="{% url "core-group-to-excel" g.id %}"><img src="{% static "img/application-vnd.ms-excel.png" %}"></a>
                    <a class="tt" title="{% trans "Presence" %}" href="{% url "core-presence-group" g.id %}"><img src="{% static "img/presence.png" %}" ></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

