{% extends "index.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
{% if perms.core.add_studentgroup and not archive %}
<div class="row-fluid">
    <div class="span10 centered">
        <a class="btn btn-success" href="{% url "admin:core_studentgroup_add" %}">{% trans "Add Group" %}</a>
    </div>
</div>
<br>
{% endif %}

<div class="row-fluid">
    <table class="dataTable table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Job" %}</th>
                <th>{% trans "Begin" %}</th>
                <th>{% trans "Students" %}</th>
                <th>{% trans "School Num." %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for g in groups %}
            <tr>
                <td>
                    <a class="tt" title="{% trans "Click for details." %}" href="{% url "core-group-details" g.id %}">{{ g.name }}</a>
                </td>
                <td>{{ g.job }} ({{ g.job_short }})</td>
                <td style="text-align:center;">
                    <time datetime="{{ g.start_date|date:"Y-m-d" }}">{{ g.start_date|date:"F Y" }}</time>
                </td>
                <td style="text-align:center;">{{ g.active_count }}</td>
                <td style="text-align:center;">{{ g.school_nr }}</td>
                <td style="text-align:center;">
                    <a class="btn btn-mini btn-warning tt" title="{% trans "Presence" %}" href="{% url "core-presence-group" g.id %}">
                        <i class="icon-list-alt"></i>
                    </a>
                    <a class="btn btn-mini btn-warning tt" title="{% trans "Export names to excel" %}" href="{% url "core-group-to-excel" g.id %}">
                        <i class="icon-th-list"></i>
                    </a>
                    <a class="btn btn-mini tt" title="JSON-Export" href="{% url "core-group-to-json" g.id %}">
                        <i class="icon-folder-open"></i>
                    </a>
                    <a class="btn btn-mini tt" title="Moodle-Export (CSV)" href="{% url "core-group-to-moodle" g.id %}">
                        <b>M</b>
                    </a>
                    {% if perms.core.change_studentgroup %}
                    <a class="btn btn-mini btn-info" title="ILB Liste drucken" href="{% url 'core-ilb-group' g.id %}">
                        <i class="icon-list"></i>
                    </a>
                    {% endif %}
                    {% if perms.core.delete_studentgroup %}
                    <a class="btn btn-mini btn-danger" title="Gruppe löschen" href="{% url 'core-group-delete' g.id %}">
                        <i class="icon-trash"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
