{% extends "index.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1">
        <div class="well">
            <h3>
                {% trans "Job" %}: {{ group.job }} ({{ group.job_short }})
                {% if perms.core.change_studentgroup %}
                <a class="btn btn-warning" href="{% url "admin:core_studentgroup_change" group.id %}">
                    <i class="icon-edit"></i> {% trans "Edit" %}
                </a>
                {% endif %}
                {% if perms.core.delete_studentgroup %}
                <a class="btn btn-danger pull-right" href="{% url "admin:core_studentgroup_delete" group.id %}">
                    <i class="icon-trash"></i> {% trans "Delete" %}
                </a>
                {% endif %}
            </h3>
            <h4>{% trans "Begin" %}: {{ group.start_date|date:"DATE_FORMAT" }}</h4>

            <ol>
                {% for s in group.students.all %}
                <li>
                    <a class="tt" title="{% trans "Click for details." %}" href="{% url "core-students" s.first %}">{{ s.lastname }}</a>, {{ s.firstname }};
                    <a class="tt" title="{% trans "Click for details." %}" href="{% url "core-company-detail" s.company.id %}">{{ s.company.name }}</a>;
                    {{ s.birthdate|date:"DATE_FORMAT" }}
                    ({% blocktrans with age=s.age %}Age: {{ age }} Years{% endblocktrans %})
                    {% if perms.core.change_student %}
                    <a class="btn btn-mini btn-warning" href="{% url "admin:core_student_change" s.id %}">
                        <i class="icon-edit"></i> {% trans "Edit" %}
                    </a>
                    {% endif %}
                    {% if perms.core.delete_student %}
                    <a class="btn btn-mini btn-danger pull-right" href="{% url "admin:core_student_delete" s.id %}">
                        <i class="icon-trash"></i> {% trans "Delete" %}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}

