{% extends "index.html" %}
{% load url from future %}

{% block content %}
<h3>Gruppe: {{ group }}</h3>

{% if step == 1 %}
<form action="{% url 'core-ilb-group' group.id %}" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="{{ form.course.auto_id }}">{{ form.course.label }}</label>
        <div class="controls">
            <input id="{{ form.course.auto_id }}" class="input-xlarge" name="course" type="text" placeholder="Kurs" data-provide="typeahead" autocomplete="off">
            {% if user.is_superuser %}<span class="uk-form-help-inline">{{ form.course.errors }}</span>{% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.year.auto_id }}">{{ form.year.label }}</label>
        <div class="controls">
            {{ form.year }}
            {% if user.is_superuser %}<span class="uk-form-help-inline">{{ form.year.errors }}</span>{% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.school1.auto_id }}">Berufsschultag(e)</label>
        <div class="controls">
            {{ form.school1 }} {{ form.school2 }}
            {% if user.is_superuser %}<span class="uk-form-help-inline">{{ form.school1.errors }} | <span class="uk-form-help-inline">{{ form.school2.errors }}</span>{% endif %}

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.start.auto_id }}">{{ form.start.label }}</label>
        <div class="controls">
            <div class="datetimepicker input-append date">
                <input class="input-small" data-format="dd.MM.yyyy" type="text" name="start" id="id_start">
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
                </span>
            </div>
            {% if user.is_superuser %}<span class="uk-form-help-inline">{{ form.start.errors }}</span>{% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.end.auto_id }}">{{ form.end.label }}</label>
        <div class="controls">
            <div class="datetimepicker input-append date">
                <input class="input-small" data-format="dd.MM.yyyy" type="text" name="end" id="id_end">
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
                </span>
            </div>
            {% if user.is_superuser %}<span class="uk-form-help-inline">{{ form.end.errors }}</span>{% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.students.auto_id }}">{{ form.students.label }}</label>
        <div class="controls">
            {{ form.students }}
            {% if user.is_superuser %}<span class="uk-form-help-inline">{{ form.students.errors }}</span>{% endif %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input class="btn" type="submit" value="Absenden">
        </div>
    </div>
</form>
{% endif %}

{% if step == 2 %}
<div class="row-fluid">
    <div class="span4">
        <p>Azubis: {{ cd.students|length }}</p>
        <p>Folgende Tage werden gedruckt (<span id="day-count">{{ day_count }}</span>):</p>
        <p id="dates">
            {% for check, dt, special in days %}
            <label class="checkbox">
                <input type="checkbox" value="{{ dt|date:'Y-m-d' }}"{% if check %} checked{% endif %}>
                {{ dt|date:'D d. M Y' }}{% if special %} ({{ special }}){% endif %}
            </label>
            {% endfor %}
        </p>
    </div>
    <div class="span8">
        <button class="btn btn-success" id="ilb-go">
            Listen erzeugen
        </button>
        <ul id="ilb-lists"></ul>
    </div>
</div>
{% endif %}

{% endblock %}

{% block additional_js %}
<script>
{% if step == 1 %}
$(function() {
    $('.datetimepicker').each(function() {
        var dtp = $(this);
        dtp.datetimepicker({
            'language': 'de',
            'pickTime': false,
            'weekStart': 1
        });
    });
    var options = {
        'source': function(query, process) {
            courses = [];
            return $.ajax({
                'url': '{% url "core-api-course-find" %}',
                'type': 'get',
                'data': {'term': query},
                'dataType': 'json',
                'success': function(data) {
                    $.each(data, function(i, course) {
                        courses.push(course['label']);
                    });
                    return process(courses);
                }
            });
        },
        'updater': function(item) {
            $('#id_course').val(item);
            return item;
        }
    };
    $('#id_course').typeahead(options);
});
{% endif %}
{% if step == 2 %}
$(':checkbox').change(function() {
    var count = $('input[type="checkbox"]:checked').length;
    $('#day-count').text(count);
});
$("#ilb-go").click(function() {
   var send_list = []
   $('#ilb-lists').empty();
   $('#dates').find('input[type="checkbox"]:checked').each(function () {
      send_list.push($(this).val());
   });
   data = {'dates': send_list, 'year': '{{ cd.year }}',
           'course': '{{ cd.course }}', 'start': '{{ cd.start|date:"d.m.Y" }}',
           'end': '{{ cd.end|date:"d.m.Y"}}'};
   $.post('{% url "core-api-pdf-ilb" %}', {'_JSON_': JSON.stringify(data)},
       function(res_data) {
           $.each(res_data['files'], function(index, value) {
               $('#ilb-lists').append(value);
           });
       }
   );
});
{% endif %}
</script>
{% endblock %}
