{% extends "index.html" %}
{% load i18n %}

{% block content %}
<h2 class="headline">{% trans "Students" %} ({{ students.paginator.count }})</h2>

{% if students.paginator.num_pages > 1 %}
<div style="width:60%;text-align:center;margin:5px auto;">
<form action="" method="get">
<p>{% trans "Go to page" %}: <select name="page" size="1">
    {% for num in students.paginator.page_range %}
    <option value="{{ num }}"{% if page == num %} selected="selected"{% endif %}>{{ num }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="{% trans "go" %}" />
</p>
</form>
</div>
{% endif %}

{% if students %}
<div id="accordion" style="width:60%;margin:0px auto;">
  {% for s in students %}
  <h3><a href="#">{{ forloop.counter }}) {{ s }}</a></h3>
  <div class="details">{% include "students/details.html" %}</div>
  {% endfor %}
</div>
<div style="text-align:center;"><p>
    {% if students.has_previous %}
    <a href="?page={{ students.previous_page_number }}">{% trans "Previous page" %}</a>
    {% endif %}
    {% trans "Page" %} {{ students.number }} {% trans "of" %} {{ students.paginator.num_pages }}.
    {% if students.has_next %}
    <a href="?page={{ students.next_page_number }}">{% trans "Next page" %}</a>
    {% endif %}
</p></div>
{% else %}
<h3>{% trans "No students found" %}.</h3>
{% endif %}

<script type="text/javascript">
$(document).ready(function(){
  $("#accordion").accordion({
    animated: 'bounceslide',
    collapsible: true,
    heightStyle: 'content',
    active: false
  });
});
</script>

{% endblock %}
