{% extends "index.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1 centered">
        {% if perms.core.add_student and not archive %}
        <a class="btn btn-mini btn-success" href="{% url "core-student-add" %}">{% trans "Add Student" %}</a>
        {% endif %}
        {% if not archive %}
        <a class="btn btn-mini" href="{% url "core-students-all" %}">{% trans "All" %}</a>
        {% endif %}
        {% for c in chars %}
        <a class="btn btn-mini" href="{% if archive %}{% url "core-students-archive" c %}{% else %}{% url "core-students" c %}{% endif %}">{{ c }}</a>
        {% endfor %}
        <a class="btn btn-mini" href="{% if archive %}{% url "core-students-archive" %}{% else %}{% url "core-students" %}{% endif %}">{% trans "Other" %}</a>
    </div>
</div>
<div class="row-fluid">
    <div class="span10 centered">
        <form action="{% if archive %}{% url "core-students-archive" %}{% else %}{% url "core-students" %}{% endif %}" method="post" class="form-inline">
            {% csrf_token %}
            {{ form.group }}
            {{ form.search }}
            <button type="submit" class="btn">{% trans "Search" %}</button>
            <a class="btn btn-info" href="{% url "core-students-search" %}"><i class="icon-search"></i> {% trans "Extended Search" %}</a>
        </form>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset1">
        {% for s in students %}
        <a class="btn btn-mini btn-info" href="#student_{{ s.id }}">{{ s.lastname }}</a>
        {% endfor %}
    </div>
</div>

{% for s in students %}
<div class="row-fluid">
    <div class="span8 offset1">
        <div class="well"><a id="student_{{ s.id }}"></a>
            <h3>{{ forloop.counter }}. {{ s.lastname }}, {{ s.firstname }} ({{ s.company.short_name }})
                {% if perms.core.change_student %}
                <a class="btn btn-warning tt" title="{% trans "Full edit" %}" href="{% url "admin:core_student_change" s.id %}"><i class="icon-edit"></i> {% trans "Edit" %}</a>
                <a class="btn btn-warning tt" title="{% trans "Short edit" %}" href="#" onclick="edit_student('{% url "core-student-edit" s.id %}');"><i class="icon-edit"> </i></a>
                {% endif %}
                {% if perms.core.delete_student %}
                <button type="button" class="btn btn-mini btn-danger pull-right" onclick="delete_student({{ s.id }}, '{{ s.lastname }}, {{ s.firstname }}');">
                    <i class="icon-trash"></i> {% trans "Delete" %}
                </button>
                {% endif %}
            </h3>
            {% include "students/details.html" %}
        </div>
    </div>
</div>
{% empty %}
<div class="row-fluid">
    <div class="span8 offset1">
        <div class="well centered">
            <h3>{% trans "No students found." %}</h3>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

