{% extends "index.html" %}
{% load i18n %}
{% load ozone_tags %}

{% block content %}

{% if students.paginator.num_pages > 1 %}
<div class="row-fluid">
    <div class="offset2 span6 centered">
        <div class="btn-group">
            <a class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "Go to page" %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for num in students.paginator.page_range %}
                <li{% if page == num %} class="disabled"{% endif %}>
                    <a href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

<div class="row-fluid">
    <div class="offset2 span6">
        {% if students %}
        <div id="accordion1" class="accordion">
            {% for i, s in students|enumerate:start %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ i }}">
                        {{ i }}. {{ s }}
                    </a>
                </div>
                <div id="collapse{{ i }}" class="accordion-body collapse{% if forloop.first %} in{% endif %}">
                    <div class="accordion-inner">
                        {% include "students/details.html" %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="well centered">
            <h3>{% trans "No students found." %}</h3>
        </div>
        {% endif %}
    </div>
</div>

{% if students.has_other_pages %}
<div class="row-fluid">
    <div class="span6 offset2">
        <ul class="pager">
            {% if not students.has_previous %}
            <li class="previous">
                <a href="?page={{ students.previous_page_number }}">&larr; {% trans "Back" %}</a>
            </li>
            {% endif %}
            {% if not students.has_next %}
            <li class="next">
                <a href="?page={{ students.next_page_number }}">{% trans "Next" %} &rarr;</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}
<div class="row-fluid">
    <div class="span6 offset2 centered">
        <span class="badge badge-info">
            {% trans "Page" %} {{ students.number }} {% trans "of" %} {{ students.paginator.num_pages }}
        </span>
    </div>
</div>

{% endblock %}
