{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset1">
        <div class="well well-small">
            <h3>{% trans "Clean old sessions" %}
                <button class="btn btn-danger pull-right" onclick="clean_sessions();">
                    <i class="icon-trash"> </i> {% trans "Delete" %}
                </button>
            </h3>
            <p id="sess_result"></p>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset1">
        <div class="well well-small">
            <h3>{% trans "Clean empty presence days" %}
                <button class="btn btn-danger pull-right" onclick="clean_presence();">
                    <i class="icon-trash"> </i> {% trans "Delete" %}
                </button>
            </h3>
            <p id="presence_result"></p>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset1">
        <div class="well well-small">
            <h3>{% trans "Empty latex build dir" %}
                <button class="btn btn-danger pull-right" onclick="clean_build_dir();">
                    <i class="icon-trash"> </i> {% trans "Delete" %}
                </button>
            </h3>
            <p id="latex_result"></p>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset1">
        <h1>{% trans "Ozone 3.0 migration" %}<small>{% trans "use once" %}</small></h1>
        <div class="well well-small">
            <h3>{% trans "Migrate presence from '*' to 'A'." %}
                <button class="btn btn-warning pull-right" onclick="migrate_3_0('presence');">
                    <i class="icon-wrench"> </i> {% trans "Migrate" %}
                </button>
            </h3>
            <h3>{% trans "Remove whitespace before and after article identifiers." %}
                <button class="btn btn-warning pull-right" onclick="migrate_3_0('orders_article_ident');">
                    <i class="icon-wrench"> </i> {% trans "Migrate" %}
                </button>
            </h3>
            <p id="migrate30_result"></p>
        </div>
    </div>
</div>

{% endblock %}

{% block additional_js %}
<script type="text/javascript">
function clean_sessions() {
    $.post('{% url "core-api-clean-sessions" %}', function(ret_data) {
        $('#sess_result').text(ret_data['msg']);
        }
    );
}

function clean_build_dir() {
    $.post('{% url "core-api-clean-build-dir" %}', function(ret_data) {
        $('#latex_result').text(ret_data['msg']);
        }
    );
}

function clean_presence() {
    $.post('{% url "core-api-clean-presence" %}', function(ret_data) {
        $('#presence_result').text(ret_data['msg']);
        }
    );
}
function migrate_3_0(what) {
    pdata = {'what': what};
    $.post('{% url "core-api-migrate30" %}',
        {'_JSON_': JSON.stringify(pdata)},
        function (ret_data) {
            $('#migrate30_result').text(ret_data['msg']);
        }
    );
}
</script>
{% endblock %}
