{% extends "layout.html" %}
{% load i18n %}

{% block styles %}{% endblock %}

{% block head %}{% endblock %}

{% block menu %}
  {% include "menu.html" %}
{% endblock %}

{% block content %}
{% if news.paginator.count %}
{% for n in news.object_list %}
<div class="row-fluid">
    <div class="span8 offset1">
        <div class="well">
            <h3>{{ n.title }}</h3>
            <p>{{ n.text }}</p>
            <p>{% trans "Posted on" %}
                <time datetime="{{ n.date|date:'c' }}">{{ n.date|date:"DATETIME_FORMAT" }}</time>
                {% trans "by" %} {{ n.author.get_full_name|default:n.author.username }}.
            </p>
        </div>
    </div>
</div>
{% endfor %}

{% if news.has_other_pages %}
<div class="row-fluid">
    <div class="span8 offset1">
        <ul class="pager">
            <li class="previous{% if not news.has_previous %} disabled{% endif %}">
                <a href="?page={% if news.has_previous %}{{ news.previous_page_number }}{%endif %}">&larr; {% trans "Newer" %}</a>
            </li>
            <li class="next{% if not news.has_next %} disabled{% endif %}">
                <a href="?page={% if news.has_next %}{{ news.next_page_number }}{% endif %}">{% trans "Older" %} &rarr;</a>
            </li>
        </ul>
    </div>
</div>
{% endif %}

{% else %}
<div class="row-fluid">
    <div class="span8 offset1">
        <div class="well well-small">
            {% trans "No News found." %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block additional_js %}{% endblock %}
