{% extends "layout.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span3 offset4">
        <form method="post" action="{% url "core-login" %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next_page }}" />
            <fieldset>
                <legend>{% trans "Login" %}</legend>
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.password.label_tag }}
                {{ form.password }}<br>
                <button type="submit" class="btn">{% trans "Login" %}</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

