{% load i18n %}
{% load urls %}

<nav id="menu">
    <div id="accordion_menu">
{% for menu in menus %}
    <h3><a class="menutitle" href="#">{{ menu.title }}</a></h3>
    <div>
    <ul>
    {% for u, name in menu.entries %}
    <li><a class="menu" href="{% reverse u %}">{{ name }}</a></li>
    {% endfor %}
    </ul>
    </div>
{% endfor %}

<h3><a class="menutitle" href="#">{% trans "User" %}</a></h3>
<div>
<ul>
  {% if user.is_authenticated %}
  <li>
      <a class="menu" href="{% url core-logout %}">{% trans "Logout" %}</a>
  </li>
  <li>
      <a class="menu" href="{% url core-profile %}">{% trans "Profile" %}</a>
  </li>
    {% if user.is_staff %}
    <li>
        <a class="menu" href="{% url admin:index %}">{% trans "Admin" %}</a>
    </li>
    {% endif %}
  {% else %}
  <li>
      <a class="menu" href="{% url core-login %}">{% trans "Login" %}</a>
  </li>
  {% endif %}
</div>

</div>
</nav>

<script>
$(function() {
    $("#accordion_menu").accordion({
        autoHeight: false,
        navigation: true
    });
});
</script>
