{% extends "index.html" %}
{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h2>{% trans "Open Orders" %}</h2>
        <a href="{% url "orders-delivery-barcode" %}" class="btn btn-mini btn-info">
            {% trans "Delivery by barcode" %}
        </a>
        <table class="table table-striped dTable">
            <thead>
                <th>{% trans "Ordered" %}</th>
                <th>{% trans "Article" %}</th>
                <th>{% trans "Art. ID" %}</th>
                <th>{% trans "Supplier" %}</th>
                <th>{% trans "Count" %}</th>
                <th>{% trans "Deliveries" %}</th>
                <th>{% trans "Delivered" %}</th>
                <th>{% trans "Orderer" %}</th>
            </thead>
            <tbody>
                {% for o in orders %}
                <tr>
                    <td>{{ o.ordered|date:"Y-m-d" }}</td>
                    <td>
                        {{ o.article.name }}
                        {% if o.article.chemman %}
                        <span class="label label-important">Giftbuch</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="#" class="tt" title="{% trans 'Barcode' %}: {{ o.article.barcode|default:'-' }}">
                            {{ o.article.ident }}
                        </a>
                        <span style="display:none;">{{ o.article.barcode }}</span>
                    </td>
                    <td>{{ o.article.supplier }}</td>
                    <td>{{ o.count }}</td>
                    <td title="{% trans "Missing" %}: {{ o.missing }}" id="msg_{{ o.id }}">
                        {% for d in o.deliveries.all %}
                        <strong>{{ d.count }}x</strong> {{ d.date|date:"SHORT_DATE_FORMAT" }}({{ d.user.username }})<br />
                        {% endfor %}
                    </td>
                    <td>{% if perms.orders.can_order %}
                        <input class="input-mini" type="text" maxlength="3" id="count_{{ o.id }}" onchange="delivery({{ o.id }});">
                        <input type="hidden" id="missing_{{ o.id }}" value="{{ o.missing }}">
                        <button type="button" class="btn btn-primary btn-mini" onclick="delivery_all({{ o.id }});">
                            <i class="icon-white  icon-download-alt"> </i> {% trans "ALL" %}
                        </button>
                        {% else %}{{ o.dsum }}{% endif %}
                    </td>
                    <td>{{ o.userlist|join:", " }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h2>Lieferungen der letzten {{ days }} Tage</h2>
        <p>
            Anzeige:
            <a class="label" href="{% url 'order-delivery-days' 14 %}">14 Tage</a>
            <a class="label" href="{% url 'order-delivery-days' 30 %}">30 Tage</a>
            <a class="label" href="{% url 'order-delivery-days' 60 %}">60 Tage</a>
        </p>
        <table class="table table-striped dTable">
            <thead>
                <th>{% trans "Ordered" %}</th>
                <th>{% trans "Article" %}</th>
                <th>{% trans "Art. ID" %}</th>
                <th>{% trans "Supplier" %}</th>
                <th>{% trans "Count" %}</th>
                <th>{% trans "Deliveries" %}</th>
                <th>{% trans "Avg. time to delivery" %}</th>
                <th>{% trans "Orderer" %}</th>
            </thead>
            <tbody>
                {% for o in dorders %}
                <tr>
                    <td>{{ o.ordered|date:"Y-m-d" }}</td>
                    <td>{{ o.article.name }}</td>
                    <td>
                        <a href="#" class="tt" title="{% trans 'Barcode' %}: {{ o.article.barcode|default:'-' }}">
                            {{ o.article.ident }}
                        </a>
                        <span style="display:none;">{{ o.article.barcode }}</span>
                    </td>
                    <td>{{ o.article.supplier }}</td>
                    <td>{{ o.count }}</td>
                    <td>
                        {% for d in o.deliveries.all %}
                        <strong>{{ d.count }}x</strong> {{ d.date|date:"SHORT_DATE_FORMAT" }}({{ d.user.username }})<br />
                        {% endfor %}
                    </td>
                    <td>{{ o.avg_days|floatformat:0 }} {% trans "days" %}</td>
                    <td>{{ o.userlist|join:", " }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>
$(document).ready(function() {
    datatable_options['bPaginate'] = false;
    var oTable = $('.dTable').dataTable(datatable_options);
});

function update_delivery(oid, count) {
    var dat = {'oid': oid, 'count': count};
    $.post('{% url "orders-api-delivery" %}', {'_JSON_': JSON.stringify(dat)},
        function(res_data) {
            add_update_message(res_data['msg']);
            $('#count_'+oid).val('');
            $('#msg_'+oid).append(res_data['entry']);
            if (res_data['complete'] == true) {
                $('#count_'+oid).attr('disabled', 'disabled');
            }
            $('#missing_'+oid).val(res_data['missing']);
        }
    );
}

function delivery(oid) {
    var delivered = parseInt($('#count_'+oid).val());
    var missing = parseInt($('#missing_'+oid).val());
    if (delivered > missing) {
        bootbox.alert(
            '{% trans "Your delivery count is higher than your order count!" %}<br />'
            +'{% trans "Maximum count that can be delivered is" %}: <strong>'
            +missing+'</strong>');
        $('#count_'+oid).val('');
    } else {
        update_delivery(oid, delivered);
    }
}

function delivery_all(oid) {
    var delivered = $('#missing_'+oid).val();
    var inp = $('#count_'+oid);
    inp.val(delivered);
    inp.change();
}
</script>
{% endblock %}
